/* reset */
ul,
ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
.btn-primary,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary,
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
	background-color: #0064a2;
	border-color: #0064a2;
}
.btn-secondary {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.71);
	border-color: rgba(0, 0, 0, 0.71);
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
	color: #fff;
}
.btn-more{
	position: absolute;
	top: 15px;
	right: 15px;
}
.btn-more .fa{
	margin-top: 2px;
	vertical-align: top;
}
input[type=checkbox], input[type=radio] {
	margin: 0;
}
.bootstrap-datetimepicker-widget {
	z-index: 30;
}
.mr10{margin-right: 10px;}
.mb5{margin-bottom: 5px;}
.mb30{margin-bottom: 30px;}
.ml10{margin-left: 10px;}
.mt10{margin-top: 10px;}

/* layout */
html,
body{
	height: 100%;
	min-height: 100%;
}
body {
	position: relative;
	background-color: #f5f5f5;
}
.row-margin{
	margin: 15px 0 30px;
}
.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}
.no-margin {
	margin: 0;
}
.modal-open {
	height: auto;
}
.modal-open #header {
	padding-right: 17px;
	box-sizing: border-box;
}
.wrap-page {
	min-width: 1330px;
	min-height: 100%;
	height: 100%;
	padding-top: 150px;
	margin: 0 auto;
}

#header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 125px;
	z-index: 30;
	background-color: #0066a8;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}
#header:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	height: 60px;
	background-color: #fff;
}
.container {
	min-width: 1330px;
	max-width: none !important;
}

/* gnb */
.navbar {
	max-width: 1330px;
	margin: 0 auto;
	border-radius: 0;
	border: 0;
}
.navbar-header {
	float: left;
}
.navbar-nav {
	float: left;
	margin: 0 50px;
}
.navbar-nav > li {
	float: left;
	position: static;
}
.navbar-nav > li > a {
	position: relative;
	padding: 20px 15px;
	color: #989898;
}
.navbar-nav > li:hover >a,
.navbar-nav > .active > a,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
	font-weight: 700;
	color: #000;
	background-color: transparent;
}
.navbar-nav > .active > a:after {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
	background: #0090d9;
}
.navbar-nav > li .navbar-2depth{
	display: none;
}
.navbar-nav > li:hover .navbar-2depth{
	display: block;
	z-index: 10;
}
.navbar-nav > li:hover:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: -65px;
	left: 0;
	z-index: 9;
	height: 65px;
	background-color: #0066a8;
}
.navbar-nav .navbar-2depth {
	position: absolute;
	padding: 0;
	white-space: nowrap;
	background-color: #0066a8;
}
.navbar-nav .active .navbar-2depth {
	display: block;
}
.navbar-nav .navbar-2depth li {
	display: inline-block;
	height: 65px;
	margin: 0;
	padding: 0;
	line-height: 65px;
}
.navbar-nav .navbar-2depth > li > a {
	padding: 0 15px;
	line-height: 65px;
	font-weight: bold;
	color: #b7b7b7;
}
.navbar-nav .navbar-2depth > li.active a,
.navbar-nav .navbar-2depth > li > a:focus,
.navbar-nav .navbar-2depth > li > a:hover{
	color: #fff;
	text-decoration: none;
}
.navbar-right {
	margin: 0;
	line-height: 60px;
	padding-right: 15px;
}
.navbar-right a:before {
	content: '';
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 0 10px 0 5px;
	vertical-align: middle;
	background-color: #ddd;
}
.navbar-brand + h1 {
	display: inline-block;
	font-size: 22px;
	line-height: 32px;
	font-weight: 600;
}
.modal-backdrop.in {
	bottom: 0;
	z-index: 1000;
}
/* login */
.login {
	position: relative;
	height: 100%;
}
.login:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 50%;
	background: #2b3d51;
}
.login .form-signin {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #f9f9f9;
	padding: 50px 100px;
	box-sizing: border-box;
	border-radius: 2px;
	box-shadow: 10px 10px 10px rgba(0,0,0,.2);
}
.form-signin-header {
	margin-bottom: 30px;
}
.form-signin .logo {
	float: left;
	margin: 0 20px;
}
.form-signin .form-signin-heading {
	line-height: 1.2;
	margin: 0;
	padding-top: 50px;
}
.form-signin-header small {
	display: block;
	clear: both;
	margin-top: 30px;
	white-space: nowrap;
}
.form-signin .form-control:first-of-type {
	margin-bottom: 10px;
}
.form-signin input[type="checkbox"] {
	margin-top: 4px;
}
/* contents */
.link{
	color: #0093d8;
}
.text-danger{
	color: #f00;
}
.wrap-content {

}
.page-header {
	margin: 0;
}
.page-control {

}
.page-title {
	font-size: 20px;
}
.page-control .btn-delete {
	margin-right: 10px;
}
.card {
	position: relative;
	margin: 10px 0 30px;
	padding: 10px;
	border-radius: 2px;
	background-color: #ffffff;
	/* box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02); */
}
.nav-tabs + .card {
	margin-top: 0;
}
.card-status {
	margin: 0;
	padding: 10px 30px;
	text-align: left;
}
.card-status .title {
	display: block;
	margin-top: 5px;
	font-size: 17px;
}
.card-status .description {
	padding: 10px 0 0;
	/* border-top: 1px solid #f2f2f2; */
	font-size: 14px;
	text-align: right;
	color: #999;
}
.card-status .description .fsr:before{
	content:'/';
	margin:0 9px 0 5px;
}

.card-status .icon {
	position: absolute;
	right: 30px;
	top: -35px;
	width: 100px;
	height: 100px;
	color: #fff;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	border-radius: 4px;
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
}
.card-status .bg-primary {
	background-color: #b0c8e2;
}
.card-status .count {
	text-align: right;
	font-size: 40px;
	font-family: Tahoma;
	color: #0066a8;
}
.card-status .count small{
	font-size: 20px;
}
.tools{
	margin-bottom: 10px;
}
.tools:after{
	content: '';
	display: block;
	clear: both;
}
.tools .row + .row {
	margin-top: 10px;
}
.tools .checkbox,
.tools .radio,
.tools .checkbox-inline,
.tools .radio-inline {
	line-height: 29px;
}
.tools input[type=checkbox],
.tools input[type=radio] {
	margin-top: 8px;
}
.dropdown-menu{
	min-width: 0;
	width: 100%;
}
.table {
	margin: 5px 0;
	font-size: 12px;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	vertical-align: inherit;
}
.table th {
	position: relative;
	font-size: 12px;
	background-color: #f2f2f2;
}
.table-vertical {
	text-align: center;
}
.table-vertical thead tr th {
	padding: 10px 8px;
	font-size: 12px;
	text-align: center;
	border-bottom: none;
}
.tablesorter .header {
	user-select: none;
	cursor: pointer;
	position: relative;
}

.table .group-bg td{
	background-color: rgba(165, 206, 76, 0.1);
}
.table .check-same{
	position: absolute;
	bottom: 5px;
	left: 5px;
}
.table-wrap {
	width: 100%;
	overflow-x: scroll;
}
.table-wrap table tr th, .table-wrap table tr td {
	min-width: 150px;
	word-break: keep-all;
}
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting{
	padding-right: 20xp;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
	content: '\f0dc';
	position: absolute;
	top: 50%;
	right: 5px;
	bottom: auto;
	color : #333;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	transform: translateY(-50%);
}
table.dataTable thead .sorting_desc:after {
	content: '\f0de';
}
table.dataTable thead .sorting_asc:after {
	content: '\f0dd';
}
.dataTables_wrapper .bottom div:first-child {
	float:left;
}

.table .form-control {
	font-size: 12px;
	border-radius: 0;
}
.table .checkbox,
.table .radio {
	margin: 0;
}
.table input[type=checkbox],
.table input[type=radio] {
	margin-top: 2px;
}
.table label {
	margin-bottom: 0;
	font-weight: normal;
}
.table tr.ing td,
.table tr.sum td{
	background-color: #d9edf7;
}
.table tr.end td{
	color: #aaa;
	background-color: #f5f5f5;
}
.table tr.cancel td{
	text-decoration: line-through;
	color: #aaa;
	background-color: #f5f5f5;
}

.table .form-inline .form-group,
.tools .form-inline .form-group {
	line-height: 34px;
}

.form-control {
	border-radius: 2px;
}

textarea {
	resize: vertical;
}
.help-block {
	margin-bottom: 0;
}
.asterisk {
	color: red;
}
.pagination {
	margin: 0;
}
.btn {
	border-radius: 2px;
}
.btn + .btn {
	margin-left: 10px;
}

.item-status {
	display: inline-block;
	margin:0 15px;
	visibility: visible;
}
.item-status > span {
	font: 0/0 a;
}
.item-status:before {
	content:' ';
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}
.item-status.ing:before{
	background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #7ad4f5;
	box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset
}
.item-status.invisible:before {
	background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #ddd;
	box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset
}
.item-status.reservation:before{
	background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #FFC107;
	box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset
}
.item-status.deadline:before{
	background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #ff4207;
	box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset
}
.item-status.end:before{
	background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #ddd;
	box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset
}
.item-status.end {
	color: #d7d7d7;
	text-decoration: line-through;
}
.item-status.invisible {
	color: #d7d7d7;
}
.item-status.end.invisible {
	text-decoration: line-through;
	color: #d7d7d7;
}

/* switch */
.onoffswitch + .btns,
.onoffswitch + .btn + .btn {
	margin-top: 5px;
}
.onoffswitch {
	display: inline-block;
	vertical-align: middle;
	height: 23px;
	text-align: center;
}

.onoffswitch-checkbox {
	position: absolute;
	left: 2px;
	z-index: -1;
	opacity: 0;
	filter: Alpha(Opacity=0);
}

.onoffswitch-label {
	position: relative;
}

.onoffswitch-label .inner {
	position: relative;
	width: 60px;
	height: 23px;
	display: inline-block;
	margin-bottom: 0;
	overflow: hidden;
	cursor: pointer;
	border-radius: 3px;
	background-color: #b0b3b5;
}

.onoffswitch-label .inner:before,
.onoffswitch-label .inner:after {
	display: block;
	float: left;
	width: 50%;
	padding: 0;
	line-height: 22px;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	box-sizing: border-box;
	font-style: normal;
}

.onoffswitch-label .inner:before {
	content: "ON";
}

.onoffswitch-label .inner:after {
	content: "OFF";
}

.onoffswitch-label .switch {
	display: block;
	width: 28px;
	height: 19px;
	background-color: #fff;
	border-radius: 3px;
	position: absolute;
	top: 2px;
	left: 2px;
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transform: translateX(0px);
	cursor: pointer;
}

.onoffswitch-checkbox:checked ~ .onoffswitch-label .inner {
	background-color: #0064a2;
}

.onoffswitch-checkbox:checked ~ .onoffswitch-label .switch {
	transform: translateX(28px);
}

.thumbnail {
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
	margin-bottom: 0;
}
.table .thumbnail img {
	max-height: 80px;
}

/* collapse */
.collapse-header {
	position: relative;
	padding-bottom: 5px;
}
.collapse-header > a {
	display: block;
	text-decoration: none;
	color: initial;
	line-height: 30px;
}
.collapse-header > a:after {
	content: '\f077';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 30px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.collapse-header > a.collapsed:after {
	content: '\f078';
}
.collapse-header p {
	margin: 0;
}
.collapse-header .btn {
	position: absolute;
	right: 50px;
	top: 0;
}
/* dropzone */
.dropzone {
	width: 100%;
	min-height: 50px;
	border: 1px dashed #ddd;
}
.dz-default.dz-message {
	text-align: center;
}
/* calendar */
.wrap-calendar  {
	position: relative;
}
.wrap-calendar .input-icon {
	left: 0;
	z-index: 1;
	display: inline-block;
}
.wrap-calendar .input-icon>.form-control {
	padding-left: 33px;
	border-radius: 0;
}
.wrap-calendar .input-group .input-icon+.input-group-addon {
	border-left: 0;
	border-right: 0;
	margin: 0 -1px;
}
.wrap-calendar .input-group .input-icon {
	position: relative;
	display: table-cell;
}
.wrap-calendar .input-icon>i {
	color: #ccc;
	position: absolute;
	margin: 11px 2px 4px 10px;
	z-index: 3;
	width: 16px;
	text-align: center;
	left: 0;
}
.box .table .wrap-calendar .form-control {
	padding-left: 33px;
	width: 125px;
}
.box .table .wrap-calendar .input-group .input-icon+.input-group-addon {
	padding: 4px 12px;
}
.box .table .wrap-calendar .input-icon>i {
	margin-top: 8px;
}
.ui-datepicker .ui-datepicker-title select{
	width: auto;
	border: none;
	background-color: transparent;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{
	border: 1px solid #ddd;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover{
	top: 2px;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev-hover{
	left: 2px;
}
.ui-datepicker .ui-datepicker-next-hover{
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span{
	position: static;
	width: 100%;
	height: 100%;
	margin: 0;
	text-indent: 0;
	font: 0/0 a;
	text-align: center;
}

.ui-datepicker .ui-datepicker-prev span:after,
.ui-datepicker .ui-datepicker-next span:after{
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-top: 8px;
	border-top: 1px solid #555;
	border-right: 1px solid #555;

}
.ui-datepicker .ui-datepicker-prev span:after{
	margin-left: 3px;
	transform: rotate(-135deg);
}
.ui-datepicker .ui-datepicker-next span:after{
	margin-right: 3px;
	transform: rotate(45deg);
}


/* panel */
.panel-heading {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.panel-footer {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
.box .panel,
.box .panel-heading,
.box .panel-footer {
	border-radius: 0;
	font-size: 12px;
}
.box .panel-heading {
	border-top: 1px solid #ddd;
}

/* main */
.summary-wrap{
	position: relative;
}
.summary-control time{
	margin-left: 5px;
	color: #5e5e5e;
}
.summary-control .btn-group{
	position: absolute;
	top: 0;
	right: 5px;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
}
.summary-control .btn-group:after{
	content: '';
	display: block;
	clear: both;
}
.summary-control .btn-group li{
	float: left;
	border-left: 1px solid #dbdbdb;
}
.summary-control .btn-group li:first-child{
	border-left: none;
}
.summary-control .btn-group li a{
	display: block;
	padding: 0 10px;
	color: #404040;
	line-height: 30px;
}
.summary-control .btn-group li.active a{
	background-color: #e3e3e3;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.06);
}
.summary-list{
	margin-top: 30px;
}
.summary-list .col-xs-4:before{
	content: '';
	display: inline-block;
	width: 1px;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 0;
	background-color: #eee;

}
.summary-list .col-xs-4:first-child:before{
	display: none;
}
.summary-list .icon{
	display: none;
}

.input-group.unstyled .input-group-addon{
	padding: 0;
	border: none;
	background: none;
}
.input-group > .form-control.size-xs{
	width: 50px;
}

/* well */
.well {
	border-color: #2b3d51;
	border-radius: 2px;
}

/* select */
.select{
	display: inline-block;
	max-width: 200px;
}
.select select.form-control{
	width: 100%;
}
.select-option {
	margin-bottom:  0;
	border-top: 1px solid #ddd
}
.select-option .list-group-item {
	text-align: left;
	padding: 0;
	border: none;
	background-color: transparent;
}
.select-option label,
.select-option span {
	position: relative;
	display: block;
	margin: 0;
	cursor: pointer;
	font-weight: normal;
}
.select-option span {
	padding: 7px 20px;
}
.select-option label input {
	position: absolute;
	opacity: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
}
.select-option input:checked  + span {
	background-color: #dde3ea;
	font-weight: bold;
}
.select-color {
	text-align: left;
	padding: 10px 20px;
}
.select-color .list-group-item {
	display: inline-block;
}
.select-color .colorchip {
	width: 50px;
	height: 50px;
	margin: 5px;
	padding: 0;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	border: 1px solid #ddd;
	background-color: #fff;
}
.select-color input:checked  + span:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
}
.select-color input:checked  + span:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 25px;
	height: 15px;
	margin-top: -3px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: translate(-50%,-50%) rotate(-45deg);
}
.default-info small {
	display: block;
	padding: 10px 25px;
	border-top: 1px solid #ddd;
	background-color: #fff;
}
.default-info input.form-control {
	display: inline-block;
	width: 150px;
	height: 25px;
	font-size: 12px;
}
.default-info .guide {
	text-align: left;
	padding: 5px 0;
	border-top: 1px solid #ddd;
	background-color: #fff;
}
.wrap-guide {
	padding:20px;
}
.wrap-guide .guide-header {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
	padding: 20px;
	background-color: #f9f9f9;

}
.wrap-guide .item-1 {
	padding: 0 20px;
}
.wrap-guide .item-1 .col-xs-6 {
	min-height: 405px;
	padding: 20px;
	text-align: center;
	border: 1px solid #ddd;
}
.wrap-guide .item-1 .col-xs-6:first-of-type {
	border-right: none;
}
.wrap-guide .item-1 .title {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}
.wrap-guide .item-1 span {
	display: block;
	min-height: 40px;
	line-height: 40px;
}
.wrap-guide .item-1 .thumbnail img {
	min-height: 265px;
}
.wrap-guide .item-1 small {
	display: block;
	margin-top: 10px;
	padding-right: 10px;
}
.wrap-guide .item-2 {
	margin-top: 20px;
	padding: 0 20px;
}
.wrap-guide .item-2 .col-xs-12 {
	padding: 0;
}
.wrap-guide .item-2 ul,
.wrap-guide .item-2 ol {
	margin: 0;
	padding: 10px 10px 10px 30px;
	border: 1px solid #ddd;
}
.detail-info .card {
	background: transparent;
	box-shadow: none;
}
.detail-info {

}
.detail-info .nav {
	background-color: #fff;
}
.nav-tabs.nav-justified>li>a {
	border-radius: 2px 2px 0 0;
	border-width: 0 0 2px 0;
}
.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:hover {
	font-weight: bold;
	background-color: #fff;
	border-width: 0 0 2px 0;
	border-color: #2b3d51;
}
.nav-tabs > .active > a {
	z-index: 1;
}
.box {
	/* margin-bottom: 20px; */
	padding: 0 10px 20px 10px;
	background-color: #fff;
	border-top: 1px dashed #ddd;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02)
}
.box:first-of-type {
	border-top: none;
}
.box-header {
	position: relative;
	padding: 15px 15px 0;
	margin: 0 -10px;
}
.box-header > p {
	font-weight: bold;
}
.box-header > p:before {
	content: '';
	display: inline-block;
	width: 2px;
	height: 10px;
	margin-right: 5px;
	vertical-align: middle;
	background-color: #2b3d51;
}
.box-header .btn {
	position: absolute;
	right: 10px;
	top: 10px;
}
.detail-info .btns {
	margin-top: 20px;
}
.box .form-control {
	height: 26px;
	padding: 3px 12px;
	font-size: 12px;
}
.box textarea.form-control {
	min-height: 150px;
}
.box .form-control + .btn {
	height: 26px;
}
.box .confirm {
	padding: 20px 0;
}

/* td .input-group + .input-group {margin-top: 10px;} */
td .map {margin-top: 10px;}

.select-tags label {
	position: relative;
	margin: 0;
}
.select-tags input[type="checkbox"]{
	position: absolute;
	opacity: 0;
}
.select-tags span {
	display: inline-block;
	padding: 4px 15px 2px;
	border-radius: 2px;
	border: 1px solid #ddd;
	cursor: pointer;
}
.select-tags input[type="checkbox"]:checked + span {
	background-color: #dde3ea;
}
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.box .bs-callout:first-child {
	position :relative;
	top: 20px;
	margin:  0 0 20px 0;
}

.bs-callout .title {
	margin-top: 0;
	margin-bottom: 5px;
}
.bs-callout + .bs-callout {
	margin-top: -5px;
}
.bs-callout-danger {
	border-left-color: #ce4844;
}
.bs-callout-danger .title {
	color: #ce4844;
}
.bs-callout-info {
	border-left-color: #2b3d51;
}
.bs-callout-info .title {
	color: #2b3d51;
}
.upload-photo:after {
	content: '';
	display: block;
	clear: both;
}
.upload-photo .item {
	float: left;
	width: 25%;
	padding: 5px;
	box-sizing: border-box;
}
.upload-photo .item:nth-child(1),
.upload-photo .item:nth-child(2),
.upload-photo .item:nth-child(3),
.upload-photo .item:nth-child(4){
	width: 50%;
}
.dropzone .dz-preview .dz-image{
	text-align:center;
}
.dropzone .dz-preview .dz-image img{
	display:inline-block;
	vertical-align:middle;
}
.upload-photo .upload {
	position: relative;
	/* min-height: 185px; */
	height: 185px;
	padding: 0;
	text-align: center;
}
.upload-photo .upload:after{
	content:'';
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
.upload-photo .item:nth-child(1) .upload,
.upload-photo .item:nth-child(2) .upload,
.upload-photo .item:nth-child(3) .upload,
.upload-photo .item:nth-child(4) .upload{
	min-height: 205px;
}

.upload-photo .dz-default.dz-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
}
.upload-photo .dz-default.dz-message i {
	color: rgba(0, 0, 0, 0.2);
}
.upload-photo .dropzone .dz-image-preview{
	vertical-align:middle;
}
.upload-photo .dropzone .dz-file-preview:after,
.upload-photo .dropzone .dz-image-preview .dz-image:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.upload-photo .dropzone .dz-details{
	width:120px;
	height:120px;
}
.upload-photo .dropzone .dz-file-preview {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
.upload-photo .dropzone .dz-file-preview .dz-details {
	top: 50%;
	padding:0;
	transform: translateY(-50%);
}
.upload-photo .dropzone .dz-file-preview .dz-details:after {
	content: '';
	display: inline-block;
	height: 100%;
	width: 1px;
	vertical-align: middle;
}
.upload-photo .dropzone .dz-file-preview .dz-details img {
	max-width: 100%;
	max-height: 100%;
}
.upload-photo .dropzone .dz-file-preview .dz-details .dz-filename:hover span{
	margin: 0 -65px;
}
.upload-option {
	position: relative;
	min-height: 100px;
	padding: 0;
	text-align: center;
}
.upload-option .dz-message {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	margin: 0;
	transform: translateY(-50%);
}
.upload-option .dz-preview {
	margin: 0;
}
.upload-option .dz-preview .dz-image {
	width: 100%;
	height: 100%;
}
.upload-option .dz-preview.dz-file-preview .dz-image {
	border-radius: 0;
}
.upload-option img {
	max-width: 100%;
}
.list-default{
	margin-bottom: 0;
	padding-left: 20px;
}
.list-default li{
	margin-top: 5px;
}
.list-default li:first-child{
	margin-top: 0;
}
.list-admin {
	margin: 0;
	text-align:left;
}
.list-admin li {
	display: inline-block;
	margin: 2px;
	padding: 5px 0;
}
.list-admin li div{
	display: inline-table;
}
.list-admin li div span {
	display: table-cell;
	text-align: center;
	padding: 0 10px;
	border-left: 1px solid #ddd;
}
.list-admin li div span:first-child {
	border-left: none;
}
.option-table,
.option-table ul {
	list-style: none;
	width: 100%;
	margin: 0;
	padding-left: 0;
}
.option-table {
	display: flex;
	flex-wrap: nowrap;
	align-content: stretch;
	align-items: stretch;
	border: 1px solid #ddd;
	border-left: 0;
	background-image: linear-gradient(#dde1e4 1px, transparent 1px);
	background-size: 100% 47px;
}
.option-table > li {
	flex: 1 1 auto;
	font-size: 12px;
	text-align: center;
	border-left: 1px solid #ddd;
}
.option-table li li {
	padding: 8px;
}
.option-table .head {
	cursor: inherit;
	display: block;
	padding: 15px;
	background-color: #f2f2f2;
}
.option-table label span {
	padding: 7px 10px;
}
.error-page {
	text-align: center;
	padding: 50px 0;
}
.error-page p {
	margin-bottom: 50px;
}
.error-page .title {
	font-size: 25px;
}
.error-page .image img {
	max-height: 200px;
}
.error-page .buttons {
	margin-bottom: 0;
}


.no-required-file{

}
.no-required-file input[type="file"]{
	display: inline-block;
	vertical-align: middle;
}
.no-required-file .btn-remove{
	display: none;
}
.is-file .btn-remove{
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}
.is-file .btn-remove i{
	color: #d43f3a;
}

.file-name{margin-bottom:5px; padding-top:10px;}
.file-name a{color:#009ada;}
.file-name button{width: 15px; height: 15px; margin-left: 5px; padding: 0; line-height:normal;}
.file-name button em{display: inline-block; margin-top: -1px; line-height: 100%; font-style: normal;vertical-align: top;}

.file-wrap {position: relative; display: inline-block;}
.file-wrap input[type='file'] {cursor: pointer; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; opacity: 0;}
.file-wrap + .file-name {padding-top:5px;}

.one-third {display:inline-block; width:33.33%; margin: 0 -4px;}
.tabs-statistics {
	position: relative;
	top: -32px;
	margin-bottom: -32px;
}
.tabs-statistics .nav-tabs {
	text-align: right;
}
.tabs-statistics .nav-tabs > li {
	float: none;
	display: inline-block;
}
.tabs-statistics .nav-tabs > li > a {
	padding: 10px 40px;
	margin: 0;

}
.tabs-statistics .nav-tabs > li.active > a {
	border-top-color: #2b3d51;
	border-top-width: 2px;
}
.tabs-statistics .tab-content {
	padding: 10px;
	text-align: right;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: none;
}
.table-statistics tbody th {
	text-align: center;
	background-color: #f8f8f8;
}
.table-statistics tbody td {
	text-align: right;
}
.table-statistics tfoot th,
.table-statistics tfoot td,
.table .tfoot th,
.table .tfoot td {
	text-align: center;
	background-color: #f2f2f2;
}

/* badge */
.badge {
	background-color: #0066a8;
	border-radius: 3px;
	font-style: normal;
	font-size: 9px;
	padding: 2px 5px;
	text-transform: uppercase;
}

/* modal */

.modal-header {
	position: relative;
}
.modal-title + .close {
	position: absolute;
	top: 17px;
	right: 20px;
}

/* scroll bar */
div::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0.04);
	height: 15px;
	border-radius: 7.5px;
}
div::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 7.5px;
}