html {
	-webkit-print-color-adjust: exact;
}
.header {
    display: none;
}
.main {
    .progress {
        display: none;
    }
    .prescribe {
        .howto {
            margin-top: 0;
            div[class^="title-"] {
                display: none;
            }
            &--subject {
                margin: 0;
            }
            &--detail {
                padding-top: 0;
            }
            &__contents {
                &-title {
                    padding: 20px;
                    &:before {
                        display: none;
                    }
                }
                &--custom {
                    &:before {
                        content: '-';
                        top: 22px;
                    }
                }
            }
        }
        > button {
            display: none;
        }
        .btns {
            display: none;
        }
        &-share {
            display: none;
        }
    }
    &.layer {
        position: static;
        overflow: visible;
        .select {
            &-category {
                &--wrap {
                    display: none;
                }
            }
        }
        .prescribe {
            .howto {
                &[class^="prescribe-"] {
                    border-top: 1px solid #e1e1e1;
                    border-bottom: 1px solid #e1e1e1;
                }
                &--summary {
                    padding: 0;
                }
                &__title {
                    margin-top: 20px;
                    &--explain {
                        border-top: 0;
                        padding-top: 0;
                    }
                }
                &--detail {
                    [class$="-title"] {
                        padding: 10px 20px;
                    }
                    [class$="-contents"] {
                        padding: 10px 20px;
                    }
                }
                .solution {
                    &-common {
                        padding: 30px 0 0;
                    }
                    &-additional {
                        // border: 1px solid #e1e1e1;
                        padding-bottom: 0;
                    }
                    &__title {
                        line-height: 1;
                        padding-left: 40px;
                        &--explain {
                            padding: 20px;
                        }
                    }
                }
                .additional {
                    &-title {
                        border-top: none;
                    }
                }
                .btn-toggle {
                    text-align: left;
                    height: auto;
                    line-height: 1;
                    & + p {
                        display: block;
                        padding-top: 40px;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}