@import '../base/_color.scss';
@import '../base/_mixins.scss';

/*! pages : about */
.about {
    font-size: 18px;
    line-height: 1.6;

    > article {
        padding: 40px 0 20px;
        position: relative;

        > .bg-image {
            position: absolute;
		}
		&.bg-color {
			padding-top: 60px;

			& + article {
				margin-top: 30px;
				&.bg-color {
					margin-top: 0;
				}
			}
		}
    }
    .bg-color {
        @include full-bg;
        background-color: #fff;
        margin-bottom: 0;
				padding-bottom: 20px;
				&.gray{
					background-color: #e8e8e8;
				}
    }
    &__title {
        @include cute-font;
        font-size: 40px;
        line-height: 1;
        display: block;
		padding: 0 0 12px 10px;

		&--sub {
			@include cute-font;
			line-height: 1;
			font-size: 28px;
			padding: 0 0 12px 10px;
			i {
				color: #0074b2;
			}
		}
    }
    &__contents {
		color: #4c4c4c;
		> span {
			display: block;
		}
        &--wrap {
            @include dotted-line;
            padding-top: 20px;

            > img {
                display: block;
                margin: 35px auto;
                padding: 0 20px;
                box-sizing: border-box;
			}

			& + .about__title--sub {
				margin-top: 50px;
			}
        }
        position: relative;
		padding: 0 13px;
		margin-bottom: 20px;

        &.bullet {
            &:before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                top: 11px;
                left: 2px;
			}
			&.first {
				&:before {
					background-color: $color-level-good;
				}
			}
			&.second {
				&:before {
					background-color: $color-level-02;
				}
			}
			&.third {
				&:before {
					background-color: $color-level-01;
				}
			}
		}
		&.step {
			margin-bottom: 25px;
		}
    }
    &-study {
        margin-bottom: 40px;
        .about {
            &__title {
				font-size: 35px;
				img {
					margin-bottom: 20px;
				}
			}
			&__contents {
				margin-bottom: 10px;
				&--wrap {
					img {
						margin: {
							top: 0;
							bottom: 20px;
						}
						padding: 0 70px;
					}
				}
				span {
					i {
						color: #0074b2;
					}
				}
			}
        }
    }
    &-factor {
		.about__title--sub + .about__contents--wrap {
			border-top: 0;
			padding-top: 10px;
		}
        .fin-factor {
            &--wrap {
                padding: 0 30px;
				margin: 50px 0;
				strong {
					@include cute-font;
					display: block;
					font-size: 25px;
					text-align: center;
					margin: {
						top: -10px;
						bottom: 20px;
					}
				}
                span {
                    line-height: 1.8;
                }
                .factor {
					&-contents {
						width: 360px;
					}
					&-first {
						em {
							&:before {
								background-color: $color-level-01;
							}
						}
					}
					&-third {
						em {
							&:before {
								background-color: $color-level-good;
							}
						}
					}
                }
            }
        }
    }
    &-type {
        > img {
            width: 153px;
            top: -65px;
            right: 15px;
        }
        .type {
            &-table {
                margin: 25px 0;
            }
            &-explain {
				color: #4c4c4c;
                > span {
                    display: block;
                    margin-left: 40px;
                    line-height: 1.8;
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        top: 50%;
                        left: -18px;
                        transform: translateY(-50%);
                    }
                    &.danger {
                        &:before {
                            background-color: $color-level-danger;
                        }
                    }
                    &.weak {
                        &:before {
                            background-color: $color-level-weak;
                        }
                    }
                    &.caution {
                        &:before {
                            background-color: $color-level-caution;
                        }
                    }
                    &.good {
                        &:before {
                            background-color: #7a9816;
                        }
                    }
                    &.excellent {
                        &:before {
                            background-color: $color-level-excellent;
                        }
                    }
                }
            }
        }
    }
    &-research {
        .about__contents {
            margin-bottom: 30px;
            > span {
                display: block;
                font-size: 18px;
                margin-bottom: 5px;
            }
        }
    }
    &-survey {
        .about {
            &__contents {
                margin: 30px 0 50px;
                > strong, span {
                    display: block;
					text-align: center;
                }
                strong {
                    line-height: 1.2;
					font-size: 24px;
                }
                span {
					margin-bottom: 25px;
					font-size: 15px;
				}
				i {
					color: #0074b2;
				}
				img {
					padding: 0 25px;
					box-sizing: border-box;
				}
                & + .about__contents {
					margin-top: 50px;
					&.bullet {
						margin-top: 20px;
					}
					&.line {
						@include dotted-line;
						margin : {
							top: -20px;
							bottom: 20px;
						}
						padding-top: 20px;
						&:before {
							top: 30px;
						}
					}
				}
            }
        }
    }
    &-summary {
        .about {
            &__contents {
                margin-bottom: 30px;
            }
        }
    }
    &-comment {
        @include cute-font;
        text-align: center;
        font-size: 30px;
        line-height: 1;
        .about {
            &__contents {
                &--wrap {
					margin-top: -40px;
                    border-top: 0;
                    padding-bottom: 20px;
                }
                padding: 0 30px;
            }
        }
    }

    > .btn {
        margin: 45px auto 90px;
    }
}

/* ! pc */
@media (min-width: 768px) {
	.about {
		&__title {
			&--sub {
				font-size: 40px;
			}
		}
		&__contents {
			&.bullet {
				&:before {
					top: 14px;
				}
			}
			&--wrap {
				&.full-img {
					> img {
						padding: 0;
					}
				}
				> img {
					padding: 0 40px;
				}
			}
		}
		&-factor {
			.fin-factor {
				&--wrap {
					img {
						width: auto;
					}
					.factor-contents {
						width: 500px;
					}
				}
			}
		}
		&-study {
			.about {
				&__title {
					img {
						box-sizing: border-box;
						padding: 0 50px;
					}
				}
				&__contents {
					&--wrap {
						img {
							padding: 20px 100px;
						}
					}
				}
			}
		}
		&-survey {
			.about {
				&__contents {
					img {
						padding: 0 60px;
					}
					&:nth-child(2) {
						img {
							padding: 0 38px 0 82px;
						}
					}
					& + .about__contents {
						&.line {
							&:before {
								top: 34px;
							}
						}
					}
				}
			}
		}
		&-type {
			.type {
				&-table {
					th {
						padding-left: 35px;
						&[class^="factor-"] {
							&:before {
								left: 25px;
							}
						}
					}
				}
			}
		}
		&-reason {
			.about {
				&__contents--wrap {
					img {
						margin: 70px auto;
					}
				}
			}
		}
		&-positive, &-reason, &-summary {
			.about {
				&__contents {
					&:last-child {
						margin-bottom: 40px;
					}
				}
			}
		}
	}
}