@import '../base/_color.scss';
@import '../base/_mixins.scss';

/*! pages : diagnose */
.diagnose {
    &.content {
        padding-bottom: 70px;
    }
    .image-pc {
        display: none;
    }
    [class$="__title--wrap"] {
        margin: 0 auto;
    }
    &-start {
        &__title {
            margin: 50px auto 75px;

            div.title {
                &-mobile {
                    padding: 0;
                }
            }
        }
    }
    &-waiting {
        &__title {
            margin: 20px 0;

            .title {
                &-mobile {
                    width: 393px;
                    margin: 0 auto;
                }
            }
        }
    }
    &-cognition {
        &__title {
            margin: 20px 0;
        }
    }
    &-behavior {
        &__title {
            margin: 15px 0 25px;
        }
    }
    &-examination {
        .diagnose-question {
            margin-top: 30px;
            .question {
                &__title {
                    font-size: 50px;
                }
            }
        }
        > .btn {
            margin-bottom: 30px;
        }
    }
    &-question {
        @include clear;
        margin-bottom: 40px;
        .question {
            &__number {
                position: relative;
                height: 17px;
                .icon {
                    vertical-align: top;
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 70px;
                    right: 0;
                    border-top: 1px dashed rgba(113, 113, 113, 0.3);
                }
            }
            &__title {
                @include cute-font;
                font-size: 35px;
                margin: 10px 0;
                line-height: 1;
                letter-spacing: -.5px;

                span {
                    font-size: 30px;
                }
            }
            &__contents {
                color: #4c4c4c;
                font-size: 15px;
                margin-bottom: 50px;

                & + img {
                    display: block;
                    margin: 0 auto 15px;
                }
            }
            &__input {
                &.error {
                    > select, .question-input, .radio-box input[type="radio"] + span {
                        border-color: rgba(218, 54, 54, .8);
                        box-shadow: 0 0 1px 2px rgba(154, 9, 9, .1);
                    }
                }
                .range {
                    &-box {
                        margin-top: 18px;
                        position: relative;
                        height: 58px;

                        > span {
                            font-size: 15px;
                            color: rgba(121, 121, 121, .5);
                            position: absolute;
							bottom: 0px;
                        }
                    }
                }
                .radio-box {
                    position: relative;
                    line-height: 45px;
                    width: 80px;
                    display: inline-block;

                    input[type="radio"] {
                        appearance: none;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        opacity: 0;

                        & + span {
                            @include input-box;
                            width: 100%;
                            text-align: center;
                        }
                        &:checked + span {
                            background-color: $color-level-02;
                            border-color: $color-level-02;
                            color: #fff;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
        .align-right {
            float: right;
            margin: 10px 0;
        }
    }
    &-behavior, &-cognition {
        .diagnose-question {
            .question__title {
                display: block;
            }
        }
        article:last-of-type {
            border-bottom: 1px dashed rgba(113,113,113,.3);
            padding-bottom: 40px;
            margin-bottom: 40px;
        }
    }
}


.exam {
    &-income {
        .question__contents + img {
            width: 427px;
            height: 202px;
        }
    }
    &-cost {
        .question__contents + img {
            width: 410px;
            height: 226px;
        }
    }
    &-extra {
        .diagnose-question {
            .question {
                &__title {
                    font-size: 40px;
                }
                &__contents + img {
                    width: 392px;
                    height: 222px;
                }
            }
        }
    }
    &-insurance {
        .question__contents + img {
            width: 402px;
            height: 207px;
        }
    }
    &-saving {
        .question__contents + img {
            width: 411px;
            height: 202px;
        }
    }
    &-future {
        .question {
            &__title {
                letter-spacing: -0.75px;
            }
            &__contents + img {
                width: 402px;
                height: 216px;
            }
        }
    }
    &-asset, &-debt {
        .diagnose-question {
            .question {
                &__input {
                    .number-text {
                        display: block;
                        width: 88%;
                        text-align: center;
                        font-size: 20px;
                        color: #000;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
    &-asset {
        .question__contents + img {
            width: 434px;
            height: 230px;
        }
    }
    &-debt {
        .question__contents + img {
            width: 411px;
            height: 240px;
        }
    }
}

/* ! pc */
@media (min-width:768px) {
    .diagnose {
        .image-pc {
            display: block;
            margin: 10px auto 0;
        }
        .question {
            &__number {
                .icon-question {
                    width: 66px;
                    line-height: 22px;
                    font-size: 20px;
                }
            }
            &__input {
                .radio-box {
                    line-height: 60px;
                    width: 107px;
                    margin: 0 2px;
                }
                .range-box {
                    > span {
                        font-size: 20px;
                    }
                }
            }
            &__title {
                font-size: 46px;
                margin: 20px 0;
            }
            &__contents {
                & + .image-mo {
                    display: none;
                }
            }
        }
        &-waiting {
            &__title {
                margin-left: 60px;
            }
        }
        &-examination {
            .diagnose-question {
                .question {
                    &__title {
                        font-size: 66px;

                        span {
                            font-size: 40px;
                        }
                    }
                    &__contents {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}