@import '../base/_color.scss';
@import '../base/_mixins.scss';

/*! pages : intro */
.intro {
    letter-spacing: -0.75px;
    color: #737373;
    font-size: 18px;

    &.content {
        padding: 0;
    }
    h2, h3[class$="__title"] {
        margin-top: 30px;
    }
    h3 {
        @include cute-font;
        text-align: center;
        color: #1563a2;
        font-size: 75px;
    }
    > article {
		padding: {
			left: 20px;
			right: 20px;
			bottom: 55px;
		}
		&.intro-video {
			padding: {
				left: 15px;
				right: 15px;
				bottom: 30px;
			}
		}
    }
    &-visual {
        @include cute-font;
        line-height: 1;
        background-color: $color-level-02;
        color: #fff;
        text-align: center;
        &__title {
			font-size: 80px;
			padding-top: 1px;
            width: 396px;
			margin: 0 auto 25px;
			position: relative;
			i {
				font: 0/0 a;
				position: absolute;
				top: 30px;
				left: -10px;
				width: 88px;
				height: 63px;
				background: url('../images/title-home.png') no-repeat 0 0/cover;
			}
            h2 {
				font-size: 110px;
				margin-top: 40px;
            }
            span {
				display: block;
				font-size: 65px;
				margin: {
					top: -15px;
					bottom: 0;
				}
            }
		}
		&__button {
			img {
				width: 366px;
				margin-bottom: -12px;
				pointer-events: none;
			}
			button {
				background-color: #a5cf4f;
				color: #404140;
			}
		}
        &__contents {
			font-size: 30px;
			padding: 0 20px;
			margin-top: 35px;
			line-height: 1.1;
		}
		.btn {
			height: 70px;
			line-height: 70px;
		}
	}
	&-about {
		position: relative;
		margin-top: 110px;
		&__title {
			@include cute-font;
			font-size: 40px;
			color: #000;
		}
		.bg-image {
			position: absolute;
			top: -86px;
			right: 20px;
			width: 123px;
		}
		&__contents {
			color: #4c4c4c;
			&--wrap {
				@include dotted-line;
				padding-top: 10px;
				line-height: 1.4;
			}
		}
	}
    &-main {
        background-color: #fff;
        border-top: 1px solid #fff;
        &__contents {
            text-align: center;
            margin: 10px 0 35px;
		}
		&--factor {
			padding-top: 0;
			span {
				margin-bottom: 5px;
			}
		}
		.type-list {
			width: 100%;
			color: #4c4c4c;
			tr {
				height: 60px;
				background-color: #efefef;
				border: dotted #b7b7b7;
				border-width: 1px 0;
				th {
					&:before {
						content: '';
						display: inline-block;
						width: 24px;
						height: 24px;
						background: {
							repeat: no-repeat;
							position: 0 0;
							size: cover;
						}
						vertical-align: middle;
						margin-right: 6px;
					}
				}
				&.danger {
					th {
						color: $color-level-danger;
						&:before {
							background-image: url('../images/face-danger.png');
						}
					}
				}
				&.weak {
					th {
						color: $color-level-weak;
						&:before {
							background-image: url('../images/face-weak.png');
						}
					}
				}
				&.caution {
					th {
						color: $color-level-caution;
						&:before {
							background-image: url('../images/face-caution.png');
						}
					}
				}
				&.good {
					th {
						color: #7a9816;
						&:before {
							background-image: url('../images/face-good.png');
						}
					}
				}
				&.excellent {
					th {
						color: $color-level-02;
						&:before {
							background-image: url('../images/face-excellent.png');
						}
					}
				}
				td {
					vertical-align: middle;
					position: relative;
					padding-left: 20px;
					z-index: 1;
					font-size: 14px;
					&:before, &:after {
						content: '';
						position: absolute;
						top: 9px;
						width: 60%;
						height: 50px;
						background: {
							image: url('../images/text-balloon.png');
							repeat: no-repeat;
							size: cover;
						}
						z-index: -1;
					}
					&:before {
						left: 0;
						background-position: 0 0;
					}
					&:after {
						right: 10px;
						background-position: 100% 0;
					}
				}
			}
		}
		button {
			display: block;
			width: auto;
			padding: 0 40px;
			margin: 32px auto 0;
		}
	}
	&-video {
		background-color: #eee;
		padding-top: 1px;
		&__title {
			@include cute-font;
			font-size: 60px;
			line-height: 1;
			color: #000;
			display: block;
			text-align: center;
			margin: {
				top: 40px;
				bottom: 30px;
			}
			img {
				display: block;
				margin: 0 auto;
				width: 72px;
			}
			span {
				position: relative;
				&:before, &:after {
					content: '';
					position: absolute;
					background: {
						position: 0 0;
						repeat: no-repeat;
						size: contain;
					}
				}
				&:before {
					background-image: url('../images/shine-01.png');
					top: 5px;
					left: -20px;
					width: 25px;
					height: 25px;
				}
				&:after {
					background-image: url('../images/shine-02.png');
					top: 10px;
					right: -10px;
					width: 10px;
					height: 14px;
				}
			}
		}
		&__tabs {
			display: table;
			width: 100%;
			table-layout: fixed;
			.tab {
				@include cute-font;
				display: table-cell;
				font-size: 28px;
				background-color: #929292;
				border-radius: 10px 10px 0 0;
				&.active {
					background-color: #a5cf4f;
				}
			}
			button {
				width: 100%;
				margin: 0 auto;
				padding: 0 0 10px 0;
				line-height: 40px;
				color: #fff;
			}
		}
		&__contents {
			position: relative;
			margin-top: -10px;
			border: 10px solid #a5cf4f;
			border-radius: 10px;
			box-sizing: border-box;
			div {
				&:before {
					content: '';
					display: block;
					padding-bottom: 56.25%;
				}
				font: 0/0 a;
				figure {
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
				}
				iframe {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
    &-step {
        background-color: $color-level-05;
        border: 1px solid $color-level-05;
        &__title {
            padding-bottom: 220px;
            background-image: url('../images/woman-work.png');
            background-size: 226px 196px;
            background-repeat: no-repeat;
            background-position: 50% bottom;
            margin-bottom: 35px;
        }
        div[class^="step-"] {
            text-align: center;
            height: 120px;
            h4 {
                @include cute-font;
                line-height: 1.2;
                color: #1563a2;
                font-size: 45px;
            }
            &:nth-child(4) {
                margin-bottom: 15px;
            }
        }
	}
}

/* ! pc */
@media (min-width:768px) {
    .content {
        &.intro {
            max-width: none;
            font-size: 16px;
            letter-spacing: -0.75px;
            article[class^="intro-"] {
                padding-bottom: 80px;
                > * {
                    max-width: 800px;
                    margin-left: auto;
                    margin-right: auto;
                }
                h3 {
                    font-size: 90px;
                    line-height: 1;
                }
			}
			p[class$="__contents"] {
				font-size: 20px;
				line-height: 1.4;
			}
        }
        .intro {
            &-main {
                &--factor {
                    padding-top: 20px;

                    .factor {
                        &-contents {
                            width: 460px;
                            margin-top: 20px;
                            > span {
								margin-bottom: 5px;
								font-size: 18px;
                            }
                        }
                    }
                }
                &--type {
                    padding: 0 15px;
				}
				.type-list {
					font-size: 18px;
					th {
						font-size: 20px;
						&::before {
							vertical-align: middle;
							width: 48px;
							height: 48px;
						}
					}
					td {
						padding-left: 40px;
						height: 80px;
						&:before, &:after {
							height: 80px;
						}
						font-size: 20px;
					}
				}
            }
        }
    }
}