@import '../base/_color.scss';
@import '../base/_mixins.scss';

/*! pages : prescribe */
.prescribe {
    &.content {
        @include clear;
        padding: {
			top: 0;
			bottom: 80px;
		}
    }
    &-summary {
        margin-top: 50px;
        &__result {
            padding: 0 0 35px;
        }
        &--image {
            position: relative;
            width: 369px;
            margin: 0 auto;

            img {
                display: block;
                width: 278px;
            }
            .icon {
                position: absolute;
                bottom: 10px;
                right: 0;
            }
        }
        &__contents {
            @include cute-font;
            font-size: 30px;
            line-height: 1;
            text-align: center;
            margin-top: 30px;
        }
    }
    &-share {
        @include full-bg;
        background-color: #e8e8e8;
        padding-top: 1px;
        padding-bottom: 1px;

        .share-list {
            @include clear;
            margin: 30px 0 20px;
            li {
                float: left;
                width: 25%;
                height: 80px;
                text-align: center;
                letter-spacing: -0.75px;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 55px;
                    height: 55px;
                    margin: 0 auto;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding-top: 60px;
                    box-sizing: border-box;
                }

                &.share {
                    &-kakao {
                        &:before {
                            background: url('../images/sns-kakao.png') no-repeat 0 0/cover;
                        }
                    }
                    &-fb {
                        &:before {
                            background: url('../images/sns-facebook.png') no-repeat 0 0/cover;
                        }
                    }
                    &-url {
                        &:before {
                            background: url('../images/sns-url.png') no-repeat 0 0/cover;
                        }
                    }
                    &-mail {
                        &:before {
                            background: url('../images/sns-email.png') no-repeat 0 0/cover;
                        }
                    }
                    &-print {
                        display: none;
                        &:before {
                            background: url('../images/sns-print.png') no-repeat 0 0/cover;
                        }
                    }
                }
            }
        }
    }
    .howto {
        margin-top: 60px;

        &.happy {
            + article {
                margin-top: 70px;
            }
            > .howto--detail {
                display: none;
            }
        }
        &:first-child {
            margin-top: 30px;
        }
        p {
            color: #4c4c4c;
            line-height: 1.4;
        }
        &--summary {
            margin-bottom: 50px;
        }
        &--subject {
            position: relative;
            margin: 0 auto 30px;
        }
        &__title {
            @include cute-font;
            font-size: 45px;
            display: block;
            position: relative;
            padding: 0 10px;

            &--explain {
                @include dotted-line;
                padding: 15px 10px 0;
            }
            .icon-face {
                position: absolute;
                right: 0;
                bottom: 10px;
            }
        }
        &--detail {
            @include full-bg;
            background-color: #fff;
            padding-top: 70px;

            p[class^="howto__contents--"] {
                padding-left: 10px;
                padding-right: 10px;
                font-size: 18px;
            }

        }
        &__contents {
            padding-bottom: 70px;
            &-title {
                @include cute-font;
                font-size: 35px;
                color: #000;
                line-height: 1;
                border-top: 1px solid rgba(38, 142, 206, .2);
                padding-top: 50px;
                padding-bottom: 21px;
                position: relative;
                display: block;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 30px;
                    height: 29px;
                    background: url('../images/icon-prescribe-big.png') no-repeat 0 0/cover;
                }

                & + .howto__contents--custom {
                    @include dotted-line;
                }
            }
            &--custom {
                padding-top: 25px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 37px;
                    left: 2px;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: $color-level-02;
                }
            }
        }
        & ~ .btn-single {
            margin-top: 35px;
        }
        & ~ .prescribe-share {
            margin-top: 70px;
        }
    }
}

/*! pages : prescribe-layer */
.layer {
    position: relative;
    &__title {
        display: none;
        text-align: center;
        line-height: 67px;
        padding: 0;
        font-size: 24px;
        background-color: $color-level-01;
        color: #fff;
	}
	&.prescribe-layer {
		background-color: inherit;
	}
    .prescribe {
        padding: 0;
        .select {
            &-category {
                position: relative;

                &--wrap {
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
                    background-color: $color-level-01;
                    .btn-close {
                        &.btn-layer {
                            display: none;
                        }
                    }
                    &.active {
						position: fixed;
						z-index: 10;
						overflow-y: auto;
                        .select {
                            &-category {
                                &:before {
                                    display: none;
                                }
                            }
                            &-list {
                                display: block;
                                padding: 40px 30px;
                            }
                            &-current {
                                display: none;
                            }
                        }
                        .btn-close {
                            &.btn-layer {
                                background-color: transparent;
                                display: block;
                                width: 40px;
                                height: 40px;
                                top: 20px;
                                &:before, &:after {
                                    width: 22px;
                                }
                            }
                        }
                    }
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 22px;
                    left: 26px;
                    border-top-color: #fff;
                    border-left-color: transparent;
                    border-right-color: transparent;
                    border-style: solid;
                    border-width: 10px 5px 0 5px;
                }
                .list__title {
                    @include cute-font;
                    font-size: 60px;
                    display: none;
                }
            }
            &-current {
                display: block;
                background-color: $color-level-01;
                width: 100%;
                padding: 13px 0 13px 50px;
                box-sizing: border-box;
                color: #fff;
            }
            &-list {
                display: none;
                padding: 15px 0;
                color: #c3c3c3;
                li {
                    border-bottom: 1px solid rgba(128, 176, 208, .2);
                    line-height: 40px;
                    margin-left: 20px;

                    &[class^="category-"] {
                        line-height: 42px;
                        font-size: 25px;
                        background-color: #014d80;
                        border-bottom: 0;
                        padding: 5px 0 5px 20px;
                        margin: 34px 0 0 0;

                        &.active {
                            background-color: rgba(0, 0, 0,.4);
                        }
                    }

                    &.active {
                        border-color: rgba(255, 255, 255, .5);
                        color: #fff;
					}
					a {
                        display: block;
                        width: 100%;
						height: 100%;
					}
                }
            }
        }
        .howto {
            padding: 0 20px;
            margin-top: 60px;
            &--detail {
                padding-top: 0;
                background-color: inherit;

                p {
                    font-size: 15px;
                }
                .btn-toggle {
                    margin: 20px 0;
                    text-align: center;
                    border-radius: 10px;

                    + p {
                        border-radius: 10px;
                        margin-top: -50px;
                        padding: 60px 25px 30px;
                    }
                }
                [class$="-title"] {
                    @include cute-font;
                    font-size: 30px;
                    line-height: 1;
                    padding: 0 10px;
                }
                [class$="-contents"] {
                    @include dotted-line;
                    margin-top: 10px;
                    padding: 15px 10px;
                    line-height: 1.4;
                }
                [class$="-tip"] {
                    .btn {
                        background-color: $color-level-good;
                    }
                }
                [class$="-more"] {
                    .btn {
                        background-color: $color-level-excellent;
                    }
                }
            }
            .solution {
                &__title {
                    @include cute-font;
                    @include full-bg;
                    display: block;
                    background-color: #424242;
                    font-size: 40px;
                    color: #fff;
                    padding: 30px;
                    line-height: 1;

                    &--explain {
                        padding: 35px 10px;
                    }
                }
                &-common {
					padding-bottom: 50px;

					> figure {
						padding: 0 50px 30px;
					}

                    [class^="common-"] {
                        button {
                            & + p {
                                background-color: #fff;
                            }
                        }
                    }
                }
                &-additional {
                    @include full-bg;
                    background-color: #fff;
                    padding: 50px 20px;
                    position: relative;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        top: 40px;
                        left: 50%;
                        background-color: $color-level-good;
                        width: 8px;
                        height: 22px;
                        transform: translateX(-50%);
                    }
                    &:after {
                        transform: translateX(-50%) rotate(90deg);
                    }
                    .additional {
                        &-title {
                            @include dotted-line;
                            display: block;
                            padding-top: 50px;
                        }
                    }
                    [class^="additional-"] {
                        button {
                            & + p {
                                background-color: $color-level-05;
                            }
                        }
                    }

                    & + .solution-additional {
                        margin-top: 25px;
					}
					&:last-child {
						border-bottom: 50px solid #f1f1f1;
					}
                }
            }
            .btn-toggle {
                & + p {
                    display: none;
                }
                &.active {
                    & + p {
                        display: block;
                    }
                }
            }
        }
    }
}

/* ! pc */
@media (min-width: 768px) {
    .prescribe {
        .share-list {
            max-width: 495px;
            margin: 30px auto;
            li {
                &.share {
                    &-kakao {
                        display: none;
                    }
                    &-print {
                        display: block;
                    }
                }
            }
        }
        .howto {
            &__title {
                font-size: 60px;
            }
            &--detail {
                padding: {
					right: 40px;
					left: 40px;
				}
            }
            &__contents {
                &-title {
                    font-size: 45px;
                }
            }
        }
    }
	.prescribe-layer {
		&.layer {
			max-width: unset;
			margin: 0 auto;
			.layer {
				&__title {
					display: block;
				}
			}
			.content {
				max-width: 1080px;
				position: relative;

				.select {
					&-category {
						position: sticky;
						top: 0;
						margin-bottom: 50px;

						&:before {
							display: none;
						}
						&--wrap {
							position: absolute;
							top: 73px;
							bottom: 0;
							background-color: #fff;
							width: 360px;

							&.active {
								position: absolute;
								height: auto;
								top: 73px;
								overflow-y: unset;

								.select {
									&-list {
										padding: 0;
									}
								}
							}
							> .btn-close {
								display: none;
							}
						}
						.list__title {
							display: block;
							text-align: center;
							padding-top: 45px;
							letter-spacing: -0.75px;
							color: #424242;
						}
						.btn-print {
							display: block;
						}
					}
					&-list {
						padding-top: 0;
						margin-top: -20px;
						display: block;
						li {
							position: relative;
							line-height: 1.4;
							font-size: 14px;
							color: #969696;
							letter-spacing: -0.75px;
							border-bottom: 1px dotted rgba(161, 161, 161, .2);
							margin-left: 0;

							&:before {
								content: '';
								position: absolute;
								top: 22px;
								left: 16px;
								width: 6px;
								height: 6px;
								border-radius: 50%;
							}
							&.active {
								background-color: #424242;
								color: #fff;
								&:before {
									background-color: $color-level-good;
								}
							}
							&[class^="category-"] {
								@include cute-font;
								font-size: 34px;
								background-color: #969696;
								color: #fff;
								line-height: 45px;
								margin-top: 20px;
								padding: 0;

								&.active {
									background-color: $color-level-02;

									&:before {
										display: none;
									}
								}
								> a {
									padding: 0 0 0 30px;
								}
							}
						}
						a {
							padding: 15px 0 10px 30px;
							box-sizing: border-box;
						}
					}
					&-current {
						display: none;
					}
				}
				.howto {
					margin-top: 40px;
					padding-left: 400px;
					min-width: 800px;
					box-sizing: border-box;
					&--summary {
						padding: 0 20px;
					}
					&--detail {
						.solution {
							&__title {
								font-size: 50px;
								padding: 30px 40px;
								box-sizing: border-box;

								&--explain {
									padding: 40px 20px;
								}
							}
							&-common {
								background-size: 413px 263px;
								background-position: 50% 0;
								padding-left: 20px;
								padding-right: 20px;
							}
						}
						p {
							font-size: 18px;
						}
						[class$="-title"] {
							font-size: 40px;
						}
					}
				}
			}

			.btn {
				&-close {
					width: 38px;
					height: 38px;

					&:before, &:after {
						width: 20px;
						height: 1.5px;
					}
				}
			}
		}
	}
}