@import '../base/_color.scss';
@import '../base/_mixins.scss';

/*! pages : result */
.result {
	> .btn-single {
		width: auto;
		min-width: 335px;
	}
    article[class^="result-"] {
        &:nth-child(4) {
            margin-bottom: 50px;
		}
		> * {
				&:last-child {
				margin-bottom: 80px;
			}
		}
    }
    p {
        padding: 0 10px;
        line-height: 1.6;
        color: #4c4c4c;
    }
    .chart {
        &-list {
            @include full-bg;
            background-color: #fff;
            padding-top: 35px;
            padding-bottom: 25px;
            margin-top: 45px;

            &.average-list {
                li {
                    height: 135px;
                }
            }
            &.ratio-list {
                li {
                    height: 180px;
                    margin-top: 20px;
                }
                .chart {
                    &-wrap {
                        padding-top: 50px;
                        position: relative;
                    }
                    &--bar {
                        background-color: #c4c4c4;
                        span {
                            // float: left;
                            height: 8px;
							position: relative;
							display: table-cell;
							//min-width: 60px;
                            &:first-child {
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px;
                            }
                            &:last-child {
								width: auto !important;
                                border-top-right-radius: 4px;
                                border-bottom-right-radius: 4px;
                            }
                            & + span {
                                &:before, &:after {
                                    position: absolute;
                                    left: 0;
                                }
                                &:before {
                                    content: '';
                                    width: 2px;
                                    height: 15px;
                                    background-color: #000;
                                }
                                &:after {
                                    content: attr(data-statistic);
                                    bottom: -30px;
                                    font-size: 15px;
                                    transform: translateX(-50%);
                                }
                            }
                        }
                    }
                }
                .icon-tooltip {
                    position: absolute;
                    top: 16px;
					display: block;
					transform: translateX(-50%);

					&:not([style]),
					&[style*='left:0'],
					&[style*='left: 0;'],
					&[style*='left:0%'],
					&[style*='left: 0%'],
					&[style*='left:1%'],
					&[style*='left: 1%'],
					&[style*='left:2%'],
					&[style*='left: 2%'],
					&[style*='left:3%'],
					&[style*='left: 3%'],
					&[style*='left:4%'],
					&[style*='left: 4%'],
					&[style*='left:5%'],
					&[style*='left: 5%'] {
						transform: translateX(-18px);
						&:before {
							left: 18px;
							transform: none;
						}
					}

					&[style*='left:95%'],
					&[style*='left: 95%'],
					&[style*='left:96%'],
					&[style*='left: 96%'],
					&[style*='left:97%'],
					&[style*='left: 97%'],
					&[style*='left:98%'],
					&[style*='left: 98%'],
					&[style*='left:99%'],
					&[style*='left: 99%'],
					&[style*='left:100%'],
					&[style*='left: 100%'] {
						transform: translateX(-100%);
						margin-left: 18px;
						&:before {
							right: 18px;
							left: auto;
							transform: none;
						}
					}
                }
            }
        }
        &-item {
            @include clear;
            strong {
                @include cute-font;
                font-size: 25px;
                font-size: 45px;
            }
            .summary {
                float: right;
                font-size: 15px;
                margin-top: 12px;
                span {
                    display: block;
                    color: #858585;
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: -23px;
                        width: 13px;
                        height: 6px;
                        border-radius: 3px;
                        background-color: #c4c4c4;
                        transform: translateY(-50%);
                    }
                    &.my-status {
                        &.more {
                            color: $color-level-02;
                            &:before {
                                background-color: $color-level-02;
                            }
                        }
                        &.less {
                            color: $color-level-danger;
                            &:before {
                                background-color: $color-level-danger;
                            }
                        }
                    }
                    em {
                        display: inline-block;
                        width: 38px;
                        margin-right: 5px;
                    }
                }
            }
            div[class^="chart--bar"] {
                height: 8px;
                border-radius: 4px;

                &:first-child {
					display: table;
					width: 100%;
                    margin: 14px 0 4px 0;
                }
            }
            .chart--bar {
                &-more {
                    background-color: $color-level-02;
                }
                &-less {
                    background-color: $color-level-danger;
                }
                &-average {
                    background-color: #c4c4c4;
                }
                &-danger {
                    background-color: $color-level-danger;
                }
                &-caution {
                    background-color: $color-level-caution;
                }
                &-good {
                    background-color: $color-level-good;
                }
            }
        }
        &-wrap {
            @include dotted-line;
        }
    }
    .btn {
        &-toggle {
            margin-bottom: 35px;
            & ~ .chart-list, & ~ .result-factor--gap {
                display: block; //TODO : none 수정
            }
            &.active {
                & ~ .chart-list, & ~ .result-factor--gap {
                    display: block;
                }
            }
        }
    }
    &-summary {
        &__title {
            color: #fff;
            position: relative;
            margin: 0 auto;
            div.title {
                &-mobile {
                    padding: 40px 40px 0;
                }
            }
            strong {
                @include cute-font;
                width: 210px;
                position: absolute;
                top: 25px;
                right: 20px;
                line-height: 1;
                font-size: 45px;
            }
        }
        .chart-measure--wrap {
            background-color: #e8e8e8;
            border-top: 1px solid #e8e8e8;
            border-bottom: 1px solid #e8e8e8;

            li {
                &.active {
                    &-actual {
                        .type-actual {
                            display: block;
                        }
                    }
                    &-expect {
                        .type-expect {
                            display: block;
                        }
                    }
                }
            }
            .icon-tooltip {
                display: none;
            }
        }
        &__contents {
            margin-top: 50px;
        }
    }

    &-factor {
        margin-top: -20px;
        &__title {
            @include cute-font;
            font-size: 50px;
            display: block;
            text-align: center;
            margin-bottom: 10px;
            color: #424242;
        }
        &--intro {
            margin-bottom: 35px;
            img {
                margin: 50px auto;
            }
            .fin-factor {
                &--wrap {
                    font-size: 15px;
                    padding: 30px 30px 0;

                    .factor {
                        &-contents {
                            padding-left: 10px;
                            width: 380px;
                        }
                    }
                }
            }
        }
        &--gap {
            .contents {
                @include dotted-line;
                padding: 30px 10px 80px;
            }
            .table {
                width: calc(100% + 40px);
                margin: 0 -20px 35px;
                background-color: #fff;
                th, td {
                    &:first-child {
                        display: none;
                    }
                }
                thead {
                    background-color: #383838;
                    color: #fff;

                    th {
                        position: relative;
                        font: {
                            weight: normal;
                            size: 20px;
                        }
                        padding: 14px 0 8px;

                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 2px;
                            height: 10px;
                            background-color: #fff;
                        }
                        &:first-child, &:nth-child(2) {
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        height: 115px;
                        text-align: center;

                        td {
                            vertical-align: middle;
                            strong {
                                display: block;
                                @include cute-font;
                                font-size: 45px;
                                line-height: 1;
                            }
                            span {
                                font-size: 15px;
                                color: rgba(0, 0, 0, .7);
                            }
                            img {
                                width: 83px;
                            }
                        }

                        & + tr {
                            border-top: 1px dotted #a1a1a1;
                        }
                    }
                }
            }
        }
    }
    &:last-child {
        padding-bottom: 100px;
    }
}

/* ! pc */
@media (min-width:768px) {
    .content {
        &.result {
            .btn-toggle {
                padding-left: 70px;
                &:after {
                    right: 70px;
                }
            }
            .chart-list {
                margin-left: 0;
                margin-right: 0;
                padding-left: 75px;
                padding-right: 75px;

                &.average-list {
                    li {
                        height: 185px;
                    }
                }
                &.ratio-list {
                    li {
                        height: 250px;
                    }
                }
            }
            p {
                padding: 0 20px;
            }
        }
        .result {
            &-summary {
                &__title {
                    margin-top: 50px;
                }
                .chart-measure {
                    margin: 120px auto 0;
                    height: 150px;
                    width: 100%;
                    &--wrap {
                        background-color: #fff;
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                        margin-top: -18px;
                        position: static;
                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            right: 0;
                            height: 270px;
                            background-color: #fff;
                            z-index: -1;
                        }
                    }
                    li {
                        &.danger {
                            .icon-tooltip {
                                left: 30px;
                            }
                        }
                        &.excellent {
                            .icon-tooltip {
                                left: auto;
                                right: 38px;
                            }
                        }
                    }
                }
                .icon-tooltip {
                    &.type {
                        &-actual {
                            top: -70px;
                            left: -11px;
                        }
                        &-expect {
                            bottom: -60px;
                            left: 5px;
                        }
                    }
                }
            }

            &-factor {
                &__title {
                    font-size: 65px;
                }
                &--gap {
                    .contents {
                        @include dotted-line;
                        padding: 50px 20px;
                    }
                    table {
                        width: 100%;
                        margin: 0 0 35px;
                        thead {
                            tr {
                                th {
                                    width: 33.3%;
                                }
                            }
                        }
                    }
                }
                .fin-factor {
                    display: inline-block;
                    margin-bottom: 0;
                    width: 440px;
                    &--wrap {
                        position: relative;
                        .factor-contents {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            font-size: 15px;

                            > span {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}