@import '../base/_color.scss';
@import '../base/_mixins.scss';

.btn {
    border-radius: 5px;
    color: #fff;
    font-family: 'Cute Font', cursive;

    &-single {
        width: 335px;
        height: 90px;
        font-size: 50px;
        display: block;
        margin: 0 auto;
    }
    &-long {
        width: 425px;
        font-size: 45px;
    }
    &-double {
        width: 210px;
        font-size: 40px;
        line-height: 70px;
        margin-top: 50px;
    }
    
    &-default {
        background-color: #5c5c5c;
    }
    &-default-light {
        background-color: #929292;
    }
    &-primary {
        background-color: $color-level-02;
    }
    &-secondary {
        background-color: $color-level-04;
    }
    &-left {
        float: left;
    }
    &-right {
        float: right;
    }
    &-toggle {
        width: 100%;
        background-color: #424242;
        height: 51px;
        padding: 0 0 0 26px;
        box-sizing: border-box;
        text-align: left;
        position: relative;
        font-size: 35px;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 24px;
            width: 16px;
            height: 11.5px;
            background: url('../images/icon-arrow.png') no-repeat 0 0/cover;
            transform: translateY(-50%);
        }

        &.active {
            &:after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
    &-dark {
        background-color: $color-level-01;
    }
    &-close {
        position: absolute;
        top: 11px;
        right: 15px;
        width: 30px;
        height: 30px;
        background-color: #424242;
        border-radius: 50%;
        font: 0/0 a;

        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 1px;
            background-color: #fff;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    &-prev, &-next {
        height: 60px;
        font-size: 42px;
    }
    &-prev {
        background-color: #929292;
        width: 120px;
    }
    &-next {
        background-color: $color-level-02;
        width: 300px;
    }
    &-large {
        font-size: 60px;
    }
    &-print {
        padding-left: 45px;
        width: 312px;
        line-height: 53px;
        border-radius: 10px;
        display: block;
        color: #fff;
        text-align: center;
        box-sizing: border-box;
        margin: 60px auto 0;
        background: $color-level-01 url('../images/icon-print.png') no-repeat 25px 10px;
        background-size: 45px 45px;
        display: none;
    }
}
.btns {
	@include clear;
}
.btn-wrap{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    flex-direction: column;
    .btn-w380 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 70px;
        font-size: 40px;
        height: 70px;
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .btns {
        text-align: center;

        .btn {
            float: none;
            margin: 60px 10px 0;
        }
    }
    .btn {
        &-single {
			min-width: 445px;
			width: auto;
            font-size: 66px;
			height: 122px;
			padding: 0 30px;
        }
        &-prev, &-next {
            font-size: 38px;
            height: 46px;
        }
        &-prev {
            width: 117px;
        }
        &-next {
            width: 200px;
        }
        &-xl {
            height: 80px;
            font-size: 60px;
            margin: 0 10px;
            &.btn-prev {
                width: 160px;
                float: none;
            }
            &.btn-next {
                width: 400px;
                float: none;
            }
        }
        &-toggle {
            width: 100%;
            height: 68px;
            font-size: 46px;
        }
    }
    .btn-wrap{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        flex-direction: row;
        .btn-w380 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 1 380px;
            font-size: 42px;
            height: 95px;
        }
    }
    
}