@import '../base/_color.scss';
@import '../base/_mixins.scss';

.hidden {
	display: none;
}
.question {
    &-select {
        @include input-box;
        width: 100%;
        appearance: none;
        padding-left: 15px;

        &::-ms-expand {
            display: none;
        }
        option {
            color: #000;
        }
    }
    &-input {
        @include input-box;
        width: 100%;
        text-align: center;
        margin-right: 8px;

        + span {
            color: #797979;
        }
    }
    &-range {
		line-height: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0;
		appearance: none;
		background-color: transparent;
		@supports (-webkit-appearance: none) {
			height: 26px;
		}

		&::-webkit-slider-thumb {
			appearance: none;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			border: 5.5px solid $color-level-02;
			background: linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 0.8));
			margin-top: -11px;
		}
		&::-ms-thumb {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 5.5px solid $color-level-02;
			background: linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 0.8));
			box-sizing: content-box;
			cursor: pointer;
			margin-top: 21px;
			padding: 0;
			transform: translateY(-50%);
		}
		&::-webkit-slider-runnable-track {
			background-color: #ddd;
			height: 3px;
			border-radius: 1.5px;
		}
		&::-ms-track {
			width: 100%;
			height: 21px;
			background: transparent;
			border-color: transparent;
			// border-width: 12px 0;
			color: transparent;
			cursor: pointer;
			margin-top: -10px;
			padding-top: 10px;
		}
		&::-ms-fill-upper {
			height: 3px;
			background: #ddd;
		}
		&::-ms-fill-lower {
			height: 3px;
			background: $color-level-02;
		}
		&:focus {
			outline: none;
		}
    }
    &-arrow {
        position: relative;
        &:before, &:after {
            content: '';
            position: absolute;
            right: 15px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
        &:before {
            border-bottom: 9px solid #717171;
            top: 12px;
        }
        &:after {
            border-top: 9px solid #717171;
            bottom: 12px;
        }
	}
	&__input {
		.range {
			&-min {
				left: 0;
			}
			&-max {
				right: 0;
			}
		}
	}
}

.input-wrap {
	position: relative;
    display: inline-block;
    width: 86%;
	span {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		text-align: center;
		line-height: 45px;
		display: inline-block;
		box-sizing: border-box;
		height: 45px;
		pointer-events: none;
		border-color: transparent;
		background-color: transparent;
		transform: translateY(-50%);
	}
	.question-input {
        color: transparent;
        width: 100%;
		//caret-color: red;
		&:focus {
			color: #797979;
		}
		&:focus + span {
			display: none;
		}
		&:focus::-webkit-input-placeholder {
			color: transparent;
		}
	}
	& + span {
		color: #797979;
	}
}

@media (min-width: 768px) {
    .question {
        &-input {
            width: 90%;
        }
        &-arrow {
            &:before, &:after {
                right: 30px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }
            &:before {
                top: 18px;
            }
            &:after {
                bottom: 18px;
            }
        }
    }
}