@import '../base/_color.scss';
@import '../base/_mixins.scss';

.icon {
    display: inline-block;
    &-tooltip {
        line-height: 33px;
        border-radius: 16.5px;
        position: relative;
        color: #fff;
        padding: 0 28px;
        background-color: #424242;

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -5px;
            width: 0;
            height: 0;
            border-top: 6px solid #424242;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            transform: translateX(-50%);
        }
    }
    &-badge {
        @include cute-font;
        font-size: 25px;
        color: #fff;
        border-radius: 10px;
        padding: 0 24px;
        margin-right: 10px;
        line-height: 30px;
    }
    &-good {
        background-color: $color-level-good;
    }
    &-caution {
        background-color: $color-level-caution;
    }
    &-danger {
        background-color: $color-level-danger;
    }
    &-info {
        width: 27px;
        height: 27px;
        background-image: url('../images/icon-info.png');
        background-size: cover;
        background-repeat: no-repeat;
        font: 0/0 a;
    }
    &-face {
        width: 82.5px;
        height: 84px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        font: 0/0 a;
        vertical-align: middle;
    }
    &-happy {
        background-image: url('../images/icon-happy.png');
    }
    &-sad {
        background-image: url('../images/icon-sad.png');
    }
    &-question {
        @include cute-font;
        font-size: 15px;
        width: 50px;
        line-height: 17px;
        border-radius: 5px;
        color: #fff;
        text-align: center;
    }
    &-arrow-down {
        font: 0/0 a;
        background: url('../images/icon-arrow.png') no-repeat 0 0/cover;
        width: 14px;
        height: 9px;
        vertical-align: middle;
        margin-left: 10px;

        &.small {
            width: 16px;
            height: 10px;
            background-size: contain;
        }
        &.active {
            transform: rotate(180deg);
        }

        @media (min-width: 768px) {
            width: 24px;
            height: 17px;
        }
    }
}