@import '../base/_color.scss';
@import '../base/_mixins.scss';

/*! componentes : alert, layer, modal */
main.layer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
	&::-webkit-scrollbar {
		display: none;
	}
	&.alert-layer {
		max-width: unset;
	}
}

.layer {
	&.bg-color {
		background-color: #fff;
	}
	.content {
		max-width: unset;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.alert {
		@include cute-font;
		padding: 1px 60px;
		background-color: rgba(0, 0, 0, 0.8);
		height: 100%;
		color: #fff;
		text-align: center;
		line-height: 1;
		overflow: auto;

		> article {
			margin: 40px 0;

			& + .btn {
				margin-bottom: 60px;
			}
		}
		&-share {
			> img {
				display: block;
				margin: 0 auto 20px;
				width: 79px;
			}

			.alert {
				&__title {
					font-size: 75px;
					letter-spacing: -0.75px;
				}
				&__contents {
					font-size: 40px;

					input {
						font: {
							family: 'Noto Sans KR', sans-serif;
							size: 20px;
						}
						&::placeholder {
							font: {
								family: 'Noto Sans KR',sans-serif;
								size: 20px;
							}
							letter-spacing: -0.75px;
							line-height: 1.35;
							vertical-align: middle;
						}
					}
				}
			}
		}
		&-family {
			.alert {
				&__contents {
					font-size: 40px;

					&.small {
						font-size: 30px;
					}
				}
			}
		}
		&__title {
			font-size: 150px;
		}
		&__contents {
			font-size: 45px;
			margin-top: 40px;
			em {
				color: #ff9e9e;
			}
			&--image {
				font-size: 30px;
				margin-top: 10px;
				line-height: 1.2;

				img {
					display: block;
					width: 212px;
					height: 226px;
					margin: 0 auto 20px;
				}
			}
		}
	}
	.info {
		background-color: #fff;
		padding-top: 0;
		line-height: 50px;
		max-width: 1080px;
		position: relative;
		&__title {
			&--wrap {
				@include full-bg;
				background-color: $color-level-01;
				color: #fff;
				margin-bottom: 50px;
			}
		}
		&-step {
			margin-bottom: 65px;
			color: #4c4c4c;
			font-size: 14px;
			line-height: 1.6;

			&__title {
				@include cute-font;
				font-size: 45px;
			}
			&__contents {
				margin-top: 30px;
				padding-left: 10px;
				&--wrap {
					@include dotted-line;
					padding-top: 25px;
					margin-bottom: 30px;
					> img {
						padding: 0 40px;
						box-sizing: border-box;

						& + img {
							margin-top: 30px;
						}
					}
				}
				> span {
					display: block;
					padding-left: 14px;
				}
			}
		}
	}
}

/* ! pc */
@media (min-width: 768px) {
	.layer {
		.alert {
			> article {
				max-width: 800px;
				margin: {
					left: auto;
					right: auto;
				}
			}
		}
	}
}