body {
  background-color: #eee; }

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  margin-bottom: 30px; }

h3 {
  font-size: 2.5rem;
  margin-bottom: 5rem; }
  h3:before, h3:after {
    display: inline-block;
    content: '';
    width: 1px;
    height: 1.5rem;
    background-color: #000;
    transform: translateY(-20%); }
  h3:before {
    margin-right: 20px; }
  h3:after {
    margin-left: 20px; }

h4 {
  font-size: 2rem; }

.wrap {
  position: relative;
  margin: 70px 5%;
  background-color: #fff;
  box-shadow: 0 0 20px #ccc; }

.header {
  padding-top: 60px; }

nav ul.depth-01 {
  position: relative;
  background-color: #f9f9f9; }

nav ul li {
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  margin: 0 20px; }

nav ul .depth-01-list > a {
  display: inline-block;
  box-sizing: border-box;
  width: 80px; }
  nav ul .depth-01-list > a:hover {
    font-weight: bold; }

nav ul .depth-01-list.active {
  font-weight: bold; }

nav ul .depth-02 {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0; }
  nav ul .depth-02 a {
    font-weight: normal;
    position: relative;
    padding-bottom: 3px; }
    nav ul .depth-02 a:hover {
      border-bottom: 1px dashed #000; }
    li .active a {
      border-bottom: 1px dashed #000; }

nav ul .active .depth-02 {
  display: block; }

.main {
  padding: 80px 8%; }

.directory .table-summary span {
  padding: 0 10px; }

.directory .table-summary span + span {
  border-left: 1px solid #ccc; }

.directory .btn-synchro {
  float: right;
  padding: 5px 20px;
  border: 1px solid #333; }

.directory table {
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid #000; }

.directory th {
  border: 1px solid rgba(255, 255, 255, 0.3); }

.directory th, .directory td {
  padding: 12px 0; }

.directory tr {
  border-bottom: 1px solid #000; }
  .directory tr a {
    text-transform: uppercase;
    font-size: 10px;
    border-bottom: 1px dashed #000; }

.directory .tr-main td:first-child {
  font-weight: bold; }

.directory .tr-sub {
  border: none; }
  .directory .tr-sub + .tr-sub {
    border-top: 1px dotted #999; }
    .directory .tr-sub + .tr-main {
      border-top: 1px solid #000; }
      .directory .include-sub {
        background-color: rgba(1, 96, 160, 0.05); }
.directory .progress {
  display: inline-block;
  width: 80px;
  border: 1px solid rgba(1, 96, 160, 0.4);;
  padding: 5px 0; }
  .directory .progress-done {
    background-color: rgba(1, 96, 160, 0.4);; }

.paragraph {
  margin: 30px 0;
  height: 200px; }
  .paragraph .describe {
    float: left;
    width: 20%; }
    .paragraph .describe p {
      margin-top: 20px; }
  .paragraph .sample {
    display: flex;
    float: right;
    width: 76%;
    border: 1px solid #aaa;
    height: inherit;
    justify-content: center;
    align-items: center; }
    .paragraph .sample a {
      padding: 15px 30px;
      border: 1px solid #aaa;
      margin: 0 10px; }

.icon-list {
  display: flex;
  flex-wrap: wrap; }
  .icon-list:after {
    content: '';
    display: block;
    clear: both; }
  .icon-list li {
    width: 25%;
    padding: 3rem 0;
    margin: 1rem 0; }
    .icon-list li span {
      display: block; }
    .icon-list li .icon {
      font-size: 30px; }

.footer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 30px 0; }

/* common class */
.invert {
  color: #fff;
  background-color: #000; }

.capital, h3 {
  text-transform: uppercase; }

.hidden {
  visibility: hidden;
  height: 0; }

.text-left {
  text-align: left; }

.text-center, h3, .header, .directory table, .paragraph .sample, .icon-list, .footer {
  text-align: center; }

.box {
  display: block;
  content: ''; }

.range {
  text-align: center; }
  .range .size-view {
    display: block;
    margin-top: 10px; }

input {
  border: 0; }
  input[type="range"] {
    -webkit-appearance: none;
    height: 2px;
    background-color: rgba(85, 85, 85, 0.2);
    margin-bottom: 10px; }
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 18px;
      height: 18px;
      background-color: #555;
      border-radius: 50%;
      border: 3px solid #fff; }
  input[type="number"] {
    -webkit-appearance: none;
    text-align: right;
    padding-right: 5px; }
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none; }


