@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  font-family: sans-serif;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  margin: 0; }

body,
table,
button,
input,
select,
textarea {
  font-family: inherit; }

a {
  color: inherit;
  text-decoration: none; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px;
  margin: 1em 3.33333rem; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  height: 0.08333rem;
  border: 0;
  border-top: 1px solid #ccc;
  border-top: 0.08333rem solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  text-decoration: underline; }

del {
  text-decoration: line-through; }

mark {
  background: #ff0;
  font-style: italic; }

pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

p {
  margin: 0; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 85%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul,
ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

dd {
  margin: 0; }

img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: top; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  display: none;
  border: 0;
  padding: 0; }

label {
  cursor: pointer; }

button,
input,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); }

button,
input {
  line-height: normal;
  *overflow: visible; }

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: transparent; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

input[type="number"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid,
textarea:invalid {
  border-color: #C82E2D; }

button[disabled],
input[disabled] {
  cursor: default;
  opacity: 0.5; }

input::-ms-clear {
  display: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: center; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0; }

i,
address,
em {
  font-style: normal; }

html {
  font-size: 75%;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.3571;
  letter-spacing: 0.15px;
  letter-spacing: 0.0125rem;
  overflow: auto; }
