@import '../base/_color.scss';
@import '../base/_mixins.scss';

/*! layout : contents */
section.content {
    padding: 22px 20px 0;

    .title {
        &-pc {
            display: none;
        }
        &-mobile {
            padding: 0 20px;
        }
    }
}
.progress {
    position: relative;
	position: sticky;
	top: 0;
    z-index: 1;

	&.js-sticky {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

    &-summary {
        background-color: $color-level-04;
        height: 92px;
        padding: 1px 22px 0;
		.progress-current {
			.pagination {
				margin-right: 30px;
			}
		}
    }
    &-chart {
        @include clear;
        position: relative;
        margin-top: 10px;
        &-bar {
            color: #c1c1c1;
            height: 20px;
            position: absolute;
            width: 100%;
            top: 10px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 2px;
                right: 5px;
                transform: translateY(-50%);
                border-top: 1px dashed #e1e1e1;
            }
            > span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 0%;
                height: 3px;
                background-color: $color-level-03;
				transition: width 0.3s;
            }
        }
        div[class^="progress-chart--"] {
            position: relative;
            width: 14.2857%;
            float: left;
            margin-top: 6px;
            &.complete {
                color: #fff;
            }
            &.now {
                &:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: -2px;
                    width: 14px;
                    height: 5px;
                    background: url('../images/icon-spot.png') no-repeat 0 0/cover;
                }
                &.progress-chart--home {
                    &:before {
                        top: -7px;
                        left: 2px;
                    }
                }
                &.progress-chart--check, &.progress-chart--prescribe {
                    &:before {
                        top: -4px;
                    }
                }
                &.progress-chart--check {
                    &:before {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &.progress-chart--prescribe {
                    &:before {
                        left: auto;
                        right: 2px;
                    }
                }
            }
        }
        &--point {

            &:after {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #9e9e9e;
            }
            &.complete {
                &:after{
                  background-color: $color-level-03;
                }
            }
            &:nth-child(3) {
                &:after {
                    left: 15%;
                }
            }
            &:nth-child(4) {
                &:after {
                    left: 30%;
                }
            }
            &:nth-child(5) {
                &:after {
                    left: 45%;
                }
            }
            &:nth-child(6) {
                &:after {
                    left: 60%;
                }
            }
        }
        &--home {

            &:after {
                content: '';
                display: inline-block;
                width: 19px;
                height: 18.5px;
                background: url('../images/icon-home.png') no-repeat 0 0/cover;
            }
        }
        &--check {
            text-align: center;
            &:after {
                content: '';
                display: inline-block;
                width: 17px;
                height: 16.5px;
                background: url('../images/icon-check.png') no-repeat 0 0/cover;
                transform: translateY(2px);
            }
        }
        &--prescribe {
            text-align: right;
            &:after{
                content: '';
                display: inline-block;
                width: 16.5px;
                height: 16px;
                background: url('../images/icon-prescribe.png') no-repeat 0 0/cover;
                transform: translateY(2px);
            }
        }
        &.vertical {
            @include cute-font;
            margin: 0 auto 50px;
            color: #bdbdbd;
            padding: 50px 0;
            div[class^="progress-chart--"] {
                width: 100%;
                transform: none;
                position: relative;
                box-sizing: border-box;
                height: 50px;
                margin-bottom: 10px;
                &:after {
                    position: absolute;
                    top: 50%;
                    left: 47px;
                    transform: translate(-50%, -50%);
                }
            }
            .progress-chart {
                &-bar {
                    width: 20px;
                    height: 458px;
                    top: 60px;

                    &:before {
                        left: 47px;
                        height: 100%;
                        border-top: 0;
                        border-left: 1px dashed #e1e1e1;
                    }
                    > span {
                        top: 0;
                        left: 46px;
                        width: 3px;
                        height: 150px;
                        transform: none;
                    }
                }
                &--home, &--check, &--prescribe {
                    font-size: 45px;
                    line-height: 1;
                    padding-left: 90px;
                }
                &--home {
                    &:after {
                        width: 46px;
                        height: 44px;
                    }
                }
                &--point {
                    font-size: 35px;
                    line-height: 50px;
                    padding-left: 130px;
                }
                &--check, &--prescribe {
                    text-align: left;
                    margin-top: 20px;
                    &:after {
                        width: 31px;
                        height: 30px;
                    }
                }
            }
        }
    }
    &-current {
        width: 100%;
        color: #fff;
        font-size: 16px;
        margin-top: 10px;
        h4, h5 {
            display: inline-block;
        }
        &--title {
            font-size: 20px;
            margin-right: 15px;
        }
        .pagination {
            float: right;
            color: #c1c1c1;
            > span {
                vertical-align: sub;
            }
            &--current {
                color: #fff;
            }
        }
    }
    &-all {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 2;
        background-color: #004c7f;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			width: 100%;
			height: 120px;
			background-color: $color-level-04;
		}
        &:after {
            content: '';
            position: absolute;
            background-color: #3f3f3f;
            width: 100%;
            height: 150%;
            z-index: -1;
        }
        .pagination {
            @include cute-font;
            font-size: 36px;
            margin-right: 50px;
        }
	}
	&-toggle {
		position: absolute;
		width: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		max-width: 800px;
		z-index: 50;
        .icon {
            &-arrow-down {
                position: absolute;
                top: 62px;
                right: 20px;
            }
		}
		&.active {
			.icon {
				&-arrow-down {
					top: 75px;
					transform: rotate(180deg);
				}
			}
		}
	}
}


.chart-measure--wrap {
    margin: -10px -20px 0;
    // padding: 0 48px;
    position: relative;
    overflow: hidden;

    .chart-measure {
        width: 100%;
        height: 45px;
        margin: 105px auto 90px;

        &:before {
            content: '';
            display: block;
            width: 80%;
            border-top: 1px dashed #b7b7b7;
            margin: 0 auto;
        }

        li {
            float: left;
            width: 20%;
            text-align: center;
            position: relative;

            &:before {
                content: '';
                display: block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin: -7px auto 10px;
            }
            &.danger {
                color: $color-level-danger;

                &:before {
                    background-color: $color-level-danger;
                }
                .icon-tooltip {
                    left: 5px;
                    background-color: $color-level-danger;
                    &:before {
                        left: 45px;
                        border-top-color: $color-level-danger;
                        border-bottom-color: $color-level-danger;
                    }
                }
            }
            &.weak {
                color: $color-level-weak;

                &:before {
                    background-color: $color-level-weak
                }
                .icon-tooltip {
                    background-color: $color-level-weak;
                    &:before {
                        border-top-color: $color-level-weak;
                        border-bottom-color: $color-level-weak;
                    }
                }
            }
            &.base {
                color: $color-level-caution;

                &:before {
                    background-color: $color-level-caution;
                }
                .icon-tooltip {
                    background-color: $color-level-caution;
                    &:before {
                        border-top-color: $color-level-caution;
                        border-bottom-color: $color-level-caution;
                    }
                }
            }
            &.good {
                color: $color-level-good;

                &:before {
                   background-color: $color-level-good;
                }
                .icon-tooltip {
                    background-color: $color-level-good;
                    &:before {
                        border-top-color: $color-level-good;
                        border-bottom-color: $color-level-good;
                    }
                }
            }
            &.excellent {
                color: $color-level-excellent;

                &:before {
                    background-color: $color-level-excellent;
                }
                .icon-tooltip {
                    left: auto;
                    right: 15px;
                    background-color: $color-level-excellent;
                    &:before {
                        left: auto;
                        right: 23px;
                        border-top-color: $color-level-excellent;
                        border-bottom-color: $color-level-excellent;
                    }
                }
            }
        }
    }

    .icon-tooltip {
        @include cute-font;
        position: absolute;
        white-space: nowrap;
        font-size: 30px;

        &.type {
            &-actual {
                top: -70px;
                left: -35px;
            }
            &-expect {
                bottom: -60px;
                left: -18px;
                &:before {
                    top: -5px;
                    bottom: auto;
                    border-top: 0;
                    border-bottom: 6px solid $color-level-excellent;
                }
            }
        }
    }
}

.fin-factor {
    width: 418px;
    display: block;

    &--wrap {
        padding: 35px 60px 0;
        margin: 0 auto;
        letter-spacing: -0.75px;

        img {
            width: 333px;
            margin: 0 auto 15px;
        }
        span[class^="factor"] {
            display: block;
            line-height: 1.4;

            em {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    top: 50%;
                    left: -10px;
                    transform: translateY(-50%);
                }
            }
        }
        .factor {
            &-contents {
                width: 350px;
                margin: 0 auto;
            }
            &-first {
                em {
                    &:before {
                        background-color: $color-level-01;
                    }
                }
            }
            &-second {
                em {
                    &:before {
                        background-color: $color-level-02;
                    }
                }
            }
            &-third {
                em {
                    &:before {
                        background-color: $color-level-good;
                    }
                }
            }
        }
    }
}


.type-table {
    width: 100%;
    border-bottom: 1px dotted rgba(161, 161, 161, .2);

    tr {
        @include dotted-line;
        height: 36px;

        &.head-row {
            background-color: #fcfcfc;
            height: 54px;

            th {
                font: 0/0 a;
            }
            td {
				padding: 15px 0 10px;
                em {
                    font-size: 12px;
                    &:before {
                        content: '';
                        display: block;
                        width: 24px;
                        height: 24px;
						margin: 0 auto;
						background: {
							repeat: no-repeat;
							size: cover;
						}
                    }
                }
                &.type {
                    &-danger {
                        em {
                            &:before {
                                background-image: url('../images/face-danger.png');
                            }
                        }
                    }
                    &-weak {
                        em {
                            &:before {
                                background-image: url('../images/face-weak.png');
                            }
                        }
                    }
                    &-caution {
                        em {
                            &:before {
                                background-image: url('../images/face-caution.png');
                            }
                        }
                    }
                    &-good {
                        em {
                            &:before {
                                background-image: url('../images/face-good.png');
                            }
                        }
                    }
                    &-excellent {
                        em {
                            &:before {
                                background-image: url('../images/face-excellent.png');
                            }
                        }
                    }
                }
            }
        }
    }
    th {
        text-align: left;
        padding-left: 15px;
        font-weight: normal;

        &.factor {
            &-base {
                color: $color-level-01;

                &:before {
                    background-color: $color-level-01;
                }
            }
            &-immune {
                color: $color-level-02;

                &:before {
                    background-color: $color-level-02;
                }
            }
            &-maintain {
                color: $color-level-good;

                &:before {
                    background-color: $color-level-good;
                }
            }
        }
        &[class^="factor-"] {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 8px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                transform: translateY(-50%);
            }
        }
    }
    td {
        vertical-align: middle;
		text-align: center;
		height: 40px;

        &.type-danger {
            color: $color-level-danger;

            polygon, path {
                fill: $color-level-danger;
            }
        }
        &.type-weak {
            color: $color-level-weak;

            polygon, path {
                fill: $color-level-weak;
            }
        }
        &.type-caution {
            color: $color-level-caution;

            polygon, path {
                fill: $color-level-caution;
            }
        }
        &.type-good {
            color: #7a9816;

            polygon, path {
                fill: #7a9816;
            }
        }
        &.type-excellent {
            color: $color-level-02;

            polygon, path {
                fill: $color-level-02;
            }
        }
        svg {
            width: 15px;
            height: 15px;
        }
    }

}

/* ! pc */
@media (min-width:768px) {
    .main {
        .progress {
            &-summary {
                height: 135px;
                > div {
                    max-width: 800px;
                    margin: 30px auto 12px;
				}
            }
            &-chart {
                &.vertical {
                    max-width: 800px;
                    margin: 0 auto;
                }
            }
            &-all {
                left: 0;
                right: 0;

                .pagination {
                    margin-right: 200px;
                }
			}
			&-toggle {
				.icon {
					&-arrow-down {
						position: absolute;
						top: 100px;
						right: 0;
					}
					&.active {
						.icon {
							&-arrow-down {
								top: 80px;
							}
						}
					}
				}
			}
        }
    }
    section.content {
        font-size: 20px;
        max-width: 800px;
		margin: 0 auto;
		min-height: 600px;
		padding: {
			top: 80px;
			bottom: 80px;
		}
        .title {
            &-pc {
                display: block;

                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            &-mobile {
                display: none;
            }
        }
    }
    .type-table {
        margin: 0 auto;
        tr {
            &.head-row {
                td {
                    em {
						font-size: 18px;
						&:before {
							width: 30px;
							height: 30px;
						}
                    }
                }
            }
        }
        th {
			font-size: 18px;
            padding-left: 20px;
            &[class^="factor-"] {
                &:before {
                    left: 8px;
                    width: 5px;
                    height: 5px;
                }
            }
		}
		td {
			height: 50px;
		}
    }
}