@import '../base/_color.scss';
@import '../base/_mixins.scss';

/*! layout : footer */
.footer {
	position: relative;
	background-color: #fff;
	padding: 0 20px 45px;
	height: 297px;
	.util {
		&-family {
			&__title {
				display: none;
			}
		}
		&-social {
			position: absolute;
			top: 150px;
			right: 20px;
			li {
				display: inline-block;
				img {
					height: 20px;
				}
				& + li {
					margin-left: 15px;
				}
			}
		}
	}
	.question-arrow {
		position: absolute;
		top: 0;
		width: 50%;
		border: {
			top: 1px solid #ccc;
			bottom: 1px solid #ccc;
		}
		box-sizing: border-box;
		> a {
			display: block;
			line-height: 84px;
			padding-left: 20px;
		}
		.list--wrap {
			display: none;
			width: 100%;
			position: absolute;
			top: 100%;
			left: 1px;
			background-color: #fff;
			border: 1px solid #ccc;
			border-left-width: 0;
			z-index: 1;
			box-sizing: border-box;
			> li {
				line-height: 42px;
				> a {
					display: block;
					padding-left: 20px;
				}
			}
		}
		&.active {
			.list--wrap {
				display: block;
			}
		}
		&.util-family__list {
			left: 0;
		}
		&.util-policy__list {
			border-left: 1px solid #ccc;
			right: 0;
			.legal-list {
				border-left: 1px solid #ccc;
				left: -1px;
				border-right-width: 0;
			}
		}
		&:before, &:after {
			right: 20px;
			border-radius: 2px;
		}
		&:before {
			top: 31px;
		}
		&:after {
			bottom: 31px;
		}
	}
	&-logo {
		position: absolute;
		top: 150px;
		width: 245px;
		height: 28px;
	}
	.company {
		padding-top: 200px;
		&-info {
			> p {
				span {
					display: block;
					margin-bottom: 5px;
				}
				small {
					display: block;
					font-size: 100%;
				}
			}
		}
		.award {
			display: flex;
			position: absolute;
			top: 145px;
			right: 88px;
			a {
				span {
					display: none;
				}
				img {
					vertical-align: middle;
				}
				& + a {
					margin-left: 15px;
				}
			}
			&-web {
				img {
					height: 26px;
				}
			}
			&-n {
				img {
					height: 19px;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.footer {
		padding: 60px 0 80px;
		font-size: 14px;
		height: auto;
		> div {
			max-width: 1300px;
			margin: 0 auto;
		}
		.util {
			@include clear;
			border-bottom: 1px solid #e4e4e4;
			&-family {
				float: left;
				margin-bottom: 20px;
				&__list {
					@include input-box;
					appearance: none;
					display: inline-block;
					border-radius: 0;
					a {
						line-height: 36px;
						padding: 0 40px 0 20px;
						display: block;
						white-space: nowrap;
					}
					.list--wrap {
						border-color: #a1a1a1;
						left: -1px;
						border-left-width: 1px;
						width: 214px;

						li {
							&:hover {
								background-color: #f7f7f7;
							}
						}
					}
					&.question-arrow {
						position: relative;
						width: 214px;
						height: 40px;
						padding-left: 0;
						&:before, &:after {
							right: 20px;
						}
						&:before {
							top: 10px;
							border-bottom-width: 7px;
						}
						&:after {
							bottom: 10px;
							border-top-width: 7px;
						}
					}
				}
				&__title {
					display: none;
				}
			}
			&-social {
				position: static;
				display: block;
				float: right;
				margin: {
					top: 20px;
					right: 34px;
				}
				> li {
					display: inline-block;
					margin: 0 10px;
				}
			}
		}
		.company {
			@include clear;
			margin-top: 40px;
			padding-top: 0;
			display: flex;
			align-items: center;
			strong {
				margin-top: 30px;
				float: left;
				img {
					width: 303px;
				}
			}
			&-info {
				width: 40%;
				margin-left: 20px;
				.util-policy {
					&__list {
						position: static;
						border: 0;
						width: 100%;
						padding-left: 0;
						&:before, &:after {
							display: none;
						}
						> a {
							display: none;
						}
						.legal-list {
							position: static;
							display: block;
							border: 0;
							li {
								display: inline-block;
								margin-right: 25px;
								color: $color-level-01;
								line-height: initial;
								> a {
									padding-left: 0;
								}
							}
						}
					}
				}
				> p {
					margin-top: 10px;
					line-height: 1.4;
					> span {
						display: inline-block;
					}
				}
			}
			.award {
				position: static;
				a {
					display: inline-flex;
					align-items: center;
					font-size: 12px;
					color: #666;
					vertical-align: middle;
					margin-left: 20px;
					span {
						display: block;
						margin-left: 10px;
					}
				}
				&-web, &-n {
					img {
						height: auto;
					}
				}
			}
		}
		&-logo {
			position: static;
			width: 30%;
		}
	}
}