@import '../base/_color.scss';
@import '../base/_mixins.scss';

/*! layout : header */
.header {
    background-color: #fff;
    border-top: 1px solid #cbcbcb;
    position: relative;

    &__title {
        width: 241px;
        line-height: 64px;
        margin: 0 auto;

        img {
            vertical-align: middle;
        }
    }

    &__util {
        width: 100%;
        height: 64px;
        position: absolute;
        top: 0;
        right: 0;

        .icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &-info {
                right: 15px;
            }
        }
    }

    .nav {
        background-color: $color-level-01;
        ul {
            display: table;
            table-layout: fixed;
            width: 100%;
            padding: 0 22px;
            box-sizing: border-box;

            li {
                display: table-cell;
                text-align: center;
            }
        }
        &-tab {
            color: #fff;
            opacity: 0.5;
            width: 100%;
            line-height: 50px;
            display: inline-block;
            &.active {
                opacity: 1;
            }
        }
    }
}

/* ! pc */
@media (min-width:768px) {
    .header {
        background-color: #fff;
        margin: 0 auto;
        padding-top: 20px;

        &__title {
            img {
                width: 306px;
            }
        }
        .nav {
            ul {
                max-width: 800px;
                margin: 0 auto;
            }
        }
        &__util {
            top: 25px;
            .icon {
                &-info {
                    width: 58px;
                    height: 19px;
                    line-height: 19px;
                    font-size: 11px;
                    text-transform: uppercase;
                    background-size: contain;
                    background-position: 100% 0;
                    right: 50px;
                }
            }
        }
    }
}