$color-level-01: #0160a0;
$color-level-02: #0093d6;
$color-level-03: #b7d65d;
$color-level-04: #06436c;
$color-level-05: #f1f1f1;
$color-level-danger: #eb4646;
$color-level-weak: #f79646;
$color-level-caution: #ffc000;
$color-level-good: #b7d65d;
$color-level-excellent: #0090da;