@mixin clear {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin cute-font {
    font: {
        family: 'Cute Font', sans-serif;
    }
}

@mixin dotted-line {
    border-top: 1px dotted rgba(161, 161, 161, .5);
}

@mixin full-bg {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

@mixin input-box {
    display: inline-block;
    border: 1px solid #a1a1a1;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    height: 45px;
    color: #797979;

    @media (min-width: 768px) {
        height: 60px;
    }
}