/*! base : reset */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Cute+Font&subset=korean');

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom:1;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
	display: none;
}
html {
	font-size: 100%;
	font-family: sans-serif;
	overflow-y: scroll;
	text-size-adjust: 100%;
}
body {
	margin: 0;
	//수정 ynar
	word-break: keep-all;
	font-size: 18px;
	letter-spacing: -0.25px;
	background-color: #f1f1f1;
}
body,
table,
button,
input,
select,
textarea {
	font-family: inherit;
}
a {
	color: inherit;
	text-decoration: none;
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
b,
strong {
	font-weight: bold;
	//수정
	font-weight: normal;
	display: inline-block;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
ins {
	text-decoration: underline;
}
del {
	text-decoration: line-through;
}
mark {
	background: #ff0;
	font-style: italic;
}
pre,
code,
kbd,
samp {
	font-family: monospace;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
p {
	margin: 0;
}
q {
	quotes: none;
}
q:before,
q:after {
	content: '';
	content: none;
}
small {
	font-size: 85%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
ul,
ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
dd {
	margin: 0;
}
img {
	max-width: 100%;
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: top;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0;
}
form {
	margin: 0;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
legend {
	display:none;
	border: 0;
	padding: 0;
}
label {
	cursor: pointer;
}
button,
input,
select,
textarea {
	font-size: 100%;
	font-family: inherit;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
	border-radius: 0;
	background-image: linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
}
button,
input {
	line-height: normal;
	*overflow: visible;
}
button{
	padding: 0;
	border: 0;
	background-color: transparent;
	outline: transparent;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
}
input[type="search"] {
	appearance: textfield;
	box-sizing: content-box;
}
input[type="number"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"]::-webkit-search-decoration,
input[type="email"] {
	appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
input:invalid,
textarea:invalid {
	//border-color: #C82E2D;
}
button[disabled],
input[disabled] {
	cursor: default;
	opacity: 0.5;
}
input::-ms-clear {
	display: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}
i,
address,
em {
	font-style: normal;
}

html {
	font-family: 'Noto Sans KR', sans-serif;
	line-height: 1.3571;
	letter-spacing: 0.15px;
	overflow: auto;
}